::ng-deep .myeditprof-class {
    height: 620px !important;
    width: 680px !important;
  }
  
  ::ng-deep .mat-form-field {
    //transform: scale(0.85) !important ;
    //padding: 0px !important;
    font-size: 0.9em;
  }
  