<div class="container" style="width: 95%; padding-top: 20px;">

    <!-- <div>
        <i #tooltip="matTooltip" matTooltip="cadastrar meios de pagamento" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button mat-icon-button>
                <mat-icon>payments</mat-icon>
            </button>
        </i>
    </div>

    <br>  
    
    <div>
        <i #tooltip="matTooltip" matTooltip="cadastrar bancos" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button mat-icon-button>
                <mat-icon>account_balance</mat-icon>
            </button>
        </i>
    </div> -->

    <br>  
    <br>

<span>Cadastros</span>
<hr>

<a (click)="OpenBancoModal()" type="button">Bancos</a>
<br>
<br>
<a (click)="OpenMeioPagamentoModal()" type="button">Meios de pagamento</a>
<br>
<br>
<a (click)="OpenPlanoContasModal()" type="button">Plano de contas</a>
<br>
<br>
<a (click)="OpencentroCustoModal()" type="button">Centro de custos</a>
<br>
<br>
<a (click)="OpenFormaRecebimentoModal()" type="button">Formas de recebimento/pagamento</a>
<br>

   

</div>

