::ng-deep .mat-tab-group.categoria-tab-group {
    height: 440px !important;
}

::ng-deep .requerimento-class {
    height: 600px !important;
    width: 680px;
}

::ng-deep .mat-form-field {
    font-size: 0.9em;
}
