<!-- <ng-container>

    <mat-sidenav-container class="example-container">

        <mat-sidenav mode="side" opened class="example-sidenav mat-elevation-z8">

            <div class="d-flex flex-column text-white ">
                <a class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">
                    <span>
                        ADMINISTRATIVO<br>Unidade {{tokenInfo.Unidade}}
                    </span>
                </a>

                <hr>

                <ul class="nav nav-pills flex-column mb-auto">

                    <li *ngFor="let item of menu" routerLinkActive="active" class="nav-item {{item.class}}">

                        <a [routerLink]="[item.path]" class="nav-link text-white">
                            <mat-icon>
                                {{item.typeIcon}}
                            </mat-icon>
                            {{item.title}}
                        </a>
                    </li>

                </ul>

            </div>

        </mat-sidenav>

        <router-outlet></router-outlet>

    </mat-sidenav-container>

</ng-container> -->


<ng-container>

    <mat-sidenav-container class="example-container" style="
      background-color: rgba(250, 245, 245, 0); ">
      <mat-sidenav style="" #sidenav mode="side" opened class="example-sidenav mat-elevation-z8">
        <div class="d-flex flex-column text-white " style="position: absolute;
              width: auto;
              top: 0px;
              bottom: 0px;
              left: 0;
              background-color: rgb(109, 218, 109);
              right: 0;">
          <a class="d-flex align-items-center  mb-md-0 me-md-auto text-white text-decoration-none">
            <span style="width: 190px;
                  text-align: center;margin-top: 15px;font-size: 1em;">
              ADMINISTRATIVO<br>Unidade {{tokenInfo.Unidade}}
            </span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
  
            <li *ngFor="let item of menu" routerLinkActive="active" class="nav-item {{item.class}}"
              style="overflow: auto;">
  
              <a [routerLink]="[item.path]" class="nav-link text-white">
                <mat-icon style="top: -3px;
                                          position:relative;
                                          overflow: auto;
                                          color:rgb(245, 243, 243); 
                                          vertical-align: middle;">
                  {{item.typeIcon}}
                </mat-icon>
                {{item.title}}
              </a>
            </li>
  
          </ul>
        </div>
  
  
      </mat-sidenav>
      <router-outlet></router-outlet>
  
    </mat-sidenav-container>
  
  </ng-container>