<!--
<div style="font-size: 1.2em;position: sticky;z-index: 9; padding-top: 20px;
background-color: rgb(252, 253, 255);
top: 0;">Calendario
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>


    <hr>
    <div style="font-size: 0.8em;margin-top: 10px;">
        {{data['turma'].descricao }} - {{ data['turma'].identificador}}
    </div>

    <mat-progress-bar style="margin-top: 5px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
    </mat-progress-bar>

    <hr>
    <div *ngIf="ShowTableHeader" class="table-responsive table-calend-top" style="position: relative;">
        <table style="margin-bottom: 0px; padding: 0px;" class="table">
          
            <thead>
                <tr>
                    <th style="width: 3.5%; font-size: 0.7em;
                    text-align:left; 
                    vertical-align: middle;
                    border-top: 0px;"></th>


                    <th style="width: 8%;font-size: 0.7em;
                    vertical-align: middle; 
                    text-align:left;
                     border-top: 0px; font-weight: 400;">DIA</th>

                    <th style="width: 12%;font-size: 0.7em;
                    vertical-align: middle;
                    text-align:center;
                    border-top: 0px; font-weight: 400;">HORÁRIO</th>

                    <th style="width: 13%;font-size: 0.7em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">INICIADA/CONCLUÍDA</th>

                    <th style="width: 8%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">SALA</th>

                    <th style="width: 18%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">MATÉRIA</th>

                    <th style="width: 25%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">PROFESSOR</th>

                    <th style="width: 12.5%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">OBS</th>


                </tr>
            </thead>
           
        </table>
    </div>

</div>

<div *ngIf="showSpin" class="table-responsive table-calend" style="position: relative;min-height: 100px;">
  
    <table *ngIf="calendarios.length > 0" color="primary" style="margin-bottom: 0px;" class="table">
       
        <tbody>

            <tr *ngFor="let cale of calendarios;let i = index;">

                <td style="text-align:left;vertical-align: middle;width: 2%; ">
                    {{ i + 1}}
                </td>
                <td style="text-align:left;vertical-align: middle;width: 8%;">
                    {{cale.diaaula | date:'dd/MM/yyyy'}}
                </td>

                <td style="text-align: center;vertical-align: middle;width: 12%;">
                    {{cale.diadasemana}}<br>{{cale.horainicial}} às {{cale.horafinal}}
                </td>

                <td style="text-align: center;vertical-align: middle;width: 13%;">

                    <ng-container *datePastCheck="cale.diaaula;">


                        <ng-container *ngIf="cale.aulainiciada;else naoiniciada">
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                matTooltip="aula iniciada pelo professor" matTooltipPosition="above"
                                matTooltipHideDelay="100">
                                <mat-icon style="color: green;">done</mat-icon>

                            </i>
                        </ng-container>
                        <ng-template #naoiniciada>
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                matTooltip="aula não iniciado pelo professor" matTooltipPosition="above"
                                matTooltipHideDelay="100">
                                <mat-icon style="color: red;">close</mat-icon>
                            </i>
                        </ng-template>

                        <ng-container *ngIf="cale.aulaconcluida;else naoconcluida">
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                matTooltip="aula concluída pelo professor" matTooltipPosition="above"
                                matTooltipHideDelay="100">
                                <mat-icon style="color: green;">done</mat-icon>

                            </i>
                        </ng-container>
                        <ng-template #naoconcluida>
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                matTooltip="aula não concluída pelo professor" matTooltipPosition="above"
                                matTooltipHideDelay="100">
                                <mat-icon style="color: red;">close</mat-icon>
                            </i>
                        </ng-template>


                    </ng-container>
                </td>

                <td style="text-align: center;vertical-align: middle;width: 8%;">
                    {{cale.titulo}}
                </td>

                <td style="text-align: center;vertical-align: middle;width: 18%;">
                    {{cale.nome || 'livre'}}
                </td>

                <td style="text-align: center;vertical-align: middle;width: 25%;">
                    {{cale.professor || 'Nenhum professor alocado'}}
                </td>

                <td style="text-align: center;vertical-align: middle;width: 14%;">
                   
                    <ng-container *ngIf="cale.podeVerRelatorioAula;">
                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="nota da aula"
                            matTooltipPosition="above" matTooltipHideDelay="100">
                            <button [disabled]="showSpinner" (click)="GetNotaAula(cale)"
                                style="margin: 0px; margin: 0px;" mat-icon-button>
                                <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                            </button>
                        </i>

                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="lista presença"
                        matTooltipPosition="above" matTooltipHideDelay="100">
                        <button [disabled]="showSpinner" (click)="openPresenca(cale)"
                            style="margin: 0px; margin: 0px;" mat-icon-button>
                            <mat-icon style="font-size: 1.3em;">fact_check</mat-icon>
                        </button>
                    </i>

                    </ng-container>

                    <ng-container *ngIf="cale.podeVerRelatorioAula == false">
                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="editar"
                            matTooltipPosition="above" matTooltipHideDelay="100">
                            <button (click)="EditAula(cale)"  style="margin: 0px; margin: 0px;" mat-icon-button>
                                <mat-icon style="font-size: 1.3em;">edit</mat-icon>
                            </button>
                        </i>
                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip=""
                            matTooltipPosition="above" matTooltipHideDelay="100">
                            <button disabled style="margin: 0px; margin: 0px;" mat-icon-button>
                                <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                            </button>
                        </i>
                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip=""
                            matTooltipPosition="above" matTooltipHideDelay="100">
                            <button disabled style="margin: 0px; margin: 0px;" mat-icon-button>
                                <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                            </button>
                        </i>
                    </ng-container>

                    <ng-container *ngIf="cale.podeVerRelatorioAula == null">
                        aguarde a conslusão da aula de hoje...
                    </ng-container>
                </td>


            </tr>
        </tbody>
    </table>
   
</div>
-->











<div style="font-size: 1.2em;position: sticky;z-index: 9; padding-top: 20px;
background-color: rgb(252, 253, 255);
top: 0;">Calendario
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>


    <hr>
    <div style="font-size: 0.8em;margin-top: 10px;">
        {{data['turma'].descricao }} - {{ data['turma'].identificador}}
    </div>

    <mat-progress-bar style="margin-top: 15px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
    </mat-progress-bar>

    <hr>

    <div *ngIf="ShowTableHeader" class="table-responsive table-calend-top" style="position: relative;">
        <table style="margin-bottom: 0px; " class="table">

            <thead>
                <tr>
                    <th style="width: 2%; font-size: 0.7em;
                    text-align:left; 
                    vertical-align: middle;
                    border-top: 0px;"></th>


                    <th style="width: 7%;font-size: 0.7em;
                    vertical-align: middle; 
                    text-align:left;
                     border-top: 0px; font-weight: 400;">DIA</th>

                    <th style="width: 10%;font-size: 0.7em;
                    vertical-align: middle;
                    text-align:center;
                    border-top: 0px; font-weight: 400;">HORÁRIO</th>

                    <th style="width: 13%;font-size: 0.7em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">INICIADA/CONCLUÍDA</th>

                    <th style="width: 8%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">SALA</th>

                    <th style="width: 18%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">MATÉRIA</th>

                    <th style="width: 25%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">PROFESSOR</th>

                    <th style="width: 17%;font-size: 0.7em;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">OBS</th>


                </tr>
            </thead>
            <!-- <tbody *ngIf="false"></tbody> -->
        </table>
    </div>

</div>
<div *ngIf="showSpin">

    <div class="table-responsive table-calend" style="position: relative;min-height: 100px;">
        <!-- <mat-spinner *ngIf="showSpin" @rowHighlight [diameter]="100" style="margin-left: 450px;">
    </mat-spinner> -->
        <table *ngIf="calendarios.length > 0" color="primary" style="height: 480px; margin-bottom: 0px;" class="table">
            <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
            <!-- <thead>
            <tr>
                <th style="width: 3.5%; 
                    text-align:left; 
                    vertical-align: middle;
                    border-top: 0px;"></th>


                <th style="width: 8%;
                    vertical-align: middle; 
                    text-align:left;
                     border-top: 0px; font-weight: 400;">DIA</th>

                <th style="width: 12%;
                    vertical-align: middle;
                    text-align:center;
                    border-top: 0px; font-weight: 400;">HORÁRIO</th>

                <th style="width: 13%;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">INICIADA/CONCLUÍDA</th>

                <th style="width: 8%;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">SALA</th>

                <th style="width: 18%;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">MATÉRIA</th>

                <th style="width: 25%;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">PROFESSOR</th>

                <th style="width: 12.5%;
text-align:center; 
vertical-align: middle;
border-top: 0px; font-weight: 400;">OBS</th>


            </tr>
        </thead> -->
            <tbody>

                <tr *ngFor="let cale of calendarios;let i = index;">

                    <td style="text-align:left;vertical-align: middle;width: 2%;">
                        {{(i + 1)+(pageIndexNumber)}}
                    </td>
                    <td style="text-align:left;vertical-align: middle;width: 7%;">
                        {{cale.diaaula | date:'dd/MM/yyyy'}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 10%;">
                        {{cale.diadasemana}}<br>{{cale.horainicial}} às {{cale.horafinal}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 13%;">

                        <div *datePastCheck="cale.diaaula;">


                            <ng-container *ngIf="cale.aulainiciada;else naoiniciada">
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="aula iniciada pelo professor" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <mat-icon style="color: green;">done</mat-icon>

                                </i>
                            </ng-container>
                            <ng-template #naoiniciada>
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="aula não iniciado pelo professor" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <mat-icon style="color: red;">close</mat-icon>
                                </i>
                            </ng-template>

                            <!-- <span> / </span> -->

                            <ng-container *ngIf="cale.aulaconcluida;else naoconcluida">
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="aula concluída pelo professor" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <mat-icon style="color: green;">done</mat-icon>

                                </i>
                            </ng-container>
                            <ng-template #naoconcluida>
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="aula não concluída pelo professor" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <mat-icon style="color: red;">close</mat-icon>
                                </i>
                            </ng-template>


                        </div>

                        <!-- <ng-template #testando>teste</ng-template> -->


                        <!-- {{cale.aulainiciada}} {{cale.aulaconcluida}} -->
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 8%;">
                        {{cale.titulo}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 18%;">
                        {{cale.nome || 'livre'}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 25%;">
                        {{cale.professor || 'Nenhum professor alocado'}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;width: 17%;">

                        <!-- <ng-container *datePastCheck="cale.diaaula;"> -->
                        <ng-container *ngIf="cale.podeVerRelatorioAula;">
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="nota da aula"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button (click)="GetNotaAula(cale)"
                                    style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                                </button>
                            </i>

                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="lista presença"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button (click)="openPresenca(cale)"
                                    style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">fact_check</mat-icon>
                                </button>
                            </i>
                        <ng-container *ngIf="podeEditar">
                            |

                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="editar nota da aula"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button (click)="GetNotaAulaEdit(cale)"
                                    style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                                </button>
                            </i>

                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="editar lista presença"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button  (click)="openPresencaEdit(cale)"
                                    style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">fact_check</mat-icon>
                                </button>
                            </i>

                        </ng-container>

                        </ng-container>
                        <!-- <ng-template #naoConcluida>aula não concluída</ng-template> -->

                        <!-- </ng-container> -->

                        <!-- TEST-->
                        <ng-container *ngIf="cale.podeVerRelatorioAula == false">
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="editar"
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button (click)="EditAula(cale)" style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">edit</mat-icon>
                                </button>
                            </i>
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip=""
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button [disabled]="true" style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                                </button>
                            </i>
                            <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip=""
                                matTooltipPosition="above" matTooltipHideDelay="100">
                                <button [disabled]="true" style="margin: 0px; margin: 0px;" mat-icon-button>
                                    <mat-icon style="font-size: 1.3em;">note_alt</mat-icon>
                                </button>
                            </i>
                        </ng-container>

                        <ng-container *ngIf="cale.podeVerRelatorioAula == null">
                            aguarde a conslusão da aula de hoje...
                        </ng-container>
                    </td>


                </tr>
            </tbody>
        </table>
        <!-- <mat-spinner  @rowHighlight [diameter]="100" style="margin-left: 20.5%;
                   position: absolute;">
    </mat-spinner> -->
    </div>
    <mat-paginator *ngIf="length > 10" 
    style="bottom: 0px;right: 0px;" 
    [length]="length" 
    [pageSize]="pageSize" 
    [pageIndex]="initialPage"
    hidePageSize="true" 
    (page)="pageEvent = pesquisar($event, false)">
    </mat-paginator>
</div>

<!-- style="margin-left: 42.5%;
        margin-top: 10%; 
        position: absolute;" 
    
    check_circle
    dangerous
    -->