<div style="font-size: 1.2em;">Estágio - matriculados
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<hr>

<div style="position: relative;">
    
    <mat-form-field appearance="standard" style="width: 250px;">
        <mat-label>Nome</mat-label>
        <input [disabled]="true" [value]="this.data['estagio'].nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>
    
    <br>
    
    <!-- <mat-form-field appearance="standard" style="width: 250px;">
        <mat-label>Nome</mat-label>
        <input selected formControlName="nome" required name="templateName" matInput placeholder="Nome">
    </mat-form-field>
    
    <br> -->

    <div *ngIf="alunos.length > 0" class="table-responsive" style="height: 430px;position: relative;">
        <table color="primary" style="margin-bottom: 0px;" class="table">
            <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
            <thead>
                <tr>
                    <th style="width: 2%; 
                text-align:left; 
                vertical-align: middle;
                border-top: 0px;"></th>


                    <th style="width: 40%;font-size:1em;
                vertical-align: middle; 
                text-align:left;
                 border-top: 0px; font-weight: 400;">Nome</th>

                    <th style="width: 29%;font-size:1em;
                vertical-align: middle;
                text-align:center;
                border-top: 0px; font-weight: 400;">E-mail</th>

                    <th style="width: 29%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">CPF</th>

                    <!--<th style="width: 12%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Matriculados</th>

                <th style="width: 13%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Status</th> -->

                    <!-- <th style="width: 34%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">

                </th> -->
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let aluno of alunos; let i = index;">
                    <td style="font-size:0.9em;text-align:center;vertical-align: middle;">{{i + 1}}</td>

                    <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                        {{aluno.nome}}
                    </td>

                    <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                        {{aluno.email || 'sem e-mail cadastrado'}}
                    </td>

                    <td style="font-size:0.9em;text-align: center;vertical-align: middle;">{{aluno.cpf}}</td>

                    <!-- <td style="font-size:0.9em;text-align: center;vertical-align: middle;"></td> -->
                    <!-- <td style="font-size:0.9em;text-align: center;vertical-align: middle;">Não iniciada</td>
                <td style="text-align: center;vertical-align: middle;"> -->
                    <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                        matTooltip="adiar a tumra para a próxima data" matTooltipPosition="above"
                        matTooltipHideDelay="100">
                        <button 
                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                            mat-icon-button>
                            <mat-icon style="font-size: 1.5em;" class="material-icons-outlined">watch_later</mat-icon>
                        </button>
                    </i>

                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                        matTooltip="iniciar as aulas" matTooltipPosition="above"
                        matTooltipHideDelay="100">
                        <button 
                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                            mat-icon-button>
                            <mat-icon style="font-size: 1.5em;" class="material-icons-outlined">play_arrow</mat-icon>
                        </button>
                    </i>-->

                    <!-- update_disabled -->

                    <!--<i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="detalhes/editar"
                        matTooltipPosition="above" matTooltipHideDelay="100">
                        <button (click)="openEditCursoModal(item)"
                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                            mat-icon-button>
                            <mat-icon>description</mat-icon>
                        </button>
                    </i> 
                </td>  
                <td style="font-size:0.9em;text-align: center;vertical-align: middle;"></td>     
                -->
                </tr>
            </tbody>
        </table>
    </div>

</div>