<div class="container" style="width: 95%; padding-top: 20px;">

    <div>
        <i #tooltip="matTooltip" matTooltip="Conceder acesso" matTooltipPosition="above" matTooltipHideDelay="100">
            <button (click)="openCreateUserModal()" mat-icon-button>
                <mat-icon>person_add_alt</mat-icon>
            </button>
        </i>

        <i #tooltip="matTooltip" matTooltip="consulta acessos" matTooltipPosition="above" matTooltipHideDelay="100">
            <button (click)="OpenconsultaAcesso()" mat-icon-button>
                <mat-icon>visibility</mat-icon>
            </button>
        </i>
    </div>

    <br>


    <form [formGroup]="pesquisarForm" (ngSubmit)="onSubmit()" class="form-inline siteForm">

        <span style="font-size: 0.9em;font-style: italic;">Digite ao menos um dos campos para
            pesquisar pelo usuário do sistema:
        </span>

        <div class="form-row align-items-center divSiteForm">

            <mat-form-field appearance="standard">
                <mat-label>Nome</mat-label>
                <input selected formControlName="nome" matInput placeholder="digite o nome">
            </mat-form-field>

            <mat-form-field appearance="standard" style="margin-left:10px;">
                <mat-label>E-mail</mat-label>
                <input selected formControlName="email" matInput placeholder="digite o E-mail">
            </mat-form-field>

            <mat-form-field appearance="standard" style="margin-left: 10px;">
                <mat-label>CPF</mat-label>
                <input selected mask="000.000.000-00" formControlName="cpf" matInput placeholder="digite o CPF">
            </mat-form-field>

            <span>
                <i #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above" matTooltipHideDelay="100">
                    <button mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>

            <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
                todas unidades:
            </span>
            <mat-checkbox formControlName="todasUnidades" color="primary"></mat-checkbox>


        </div>

    </form>

    <div class="card-header " style="background-color: rgb(227, 240, 227);
    width: 350px; font-size: 0.9em;box-shadow: 0 0 0.5em rgb(172, 170, 170);" unselectable="on"
        *ngIf="showMessageNoColaborador">{{mensagem}}</div>


    <mat-progress-bar style="margin-top: 20px;" [style.visibility]="spinnerSearch" @rowHighlight style="margin:0px"
        mode="query">
    </mat-progress-bar>

    <div @rowHighlight *ngIf="usuarios.length > 0" class="card card-plain mat-elevation-z8" style="width: 100%;
        position: relative;
        margin-top: 20px;
        box-shadow: 0 0 1em rgb(172, 170, 170);
        background-color: rgb(227, 240, 227);">

        <div class="card-header">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Usuários</h4>
            <p class="card-category">{{ length }} usuário(s) localizado(s) no sistema:</p>
        </div>

        <div class="card-body">
            <div class="table-responsive table-usuarios" style="height: 430px;position: relative;">

                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <thead>
                        <tr>
                            <th></th>

                            <th>NOME</th>

                            <th>PERFIL</th>

                            <th>UNIDADE</th>

                            <th>AUTORIZADO</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usuarios;let i = index;" @rowHighlight>
                            <td style="text-align:center;vertical-align: middle;">
                                {{(i + 1)+(pageIndexNumber)}}
                            </td>

                            <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.roleName || 'sem perfil'}}</td>

                            <td style="text-align:center;vertical-align: middle;">{{item.unidadeSigla}}</td>

                            <td style="text-align: center;vertical-align: middle;">
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="ativo"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        [style.color]="item.ativo == true ? 'green' : 'red'" mat-icon-button>
                                        <mat-icon>{{item.ativo == true ? 'done' : 'close'}}</mat-icon>
                                    </button>
                                </i>
                            </td>

                            

                            <td>

                                <!-- <i type="submit" #tooltip="matTooltip" matTooltip="deletar tarefa" matTooltipPosition="above"
                        matTooltipHideDelay="100" (click)="Delete(item.id)"
                        class="material-icons md-dark">
                        delete_outline
                      </i> -->

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="disabledEdit" (click)="openEditUserModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i>

                                <i style="margin: 0px; margin: 20px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="openAcessoModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>key</mat-icon>
                                    </button>
                                </i>

                                <i *ngIf="podeDeletar" style="margin: 10px; " #tooltip="matTooltip"
                                    matTooltip="deletar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="disabledOpenEditButton" 
                                    (click)="Deletar(item.email)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i>


                            </td>

                        </tr>

                        <!-- <tr>
                                    <td style="text-align:center;vertical-align: middle;"></td>
                                    <td style="text-align:center;vertical-align: middle;">Bruno</td>
                                    <td style="text-align: left;vertical-align: middle;">administrador</td>
                                    <td style="text-align: left;vertical-align: middle;">
                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;color:red" mat-icon-button>
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </i>
                                    </td>
                                    <td style="position: relative;">

                                   

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;" mat-icon-button>
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </i>


                                    </td>
                                    <td style="position: relative;">

                                       

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="deletar tarefa" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button style="margin: 0px; margin: 0px;" mat-icon-button>
                                                <mat-icon>delete_outline</mat-icon>
                                            </button>
                                        </i>


                                    </td>
                                </tr> -->
                    </tbody>
                </table>

            </div>

            <mat-paginator *ngIf="length > 5" style="
                background-color: rgb(227, 240, 227);
                bottom: 0px;
                right: 0px;" 
                [length]="length" 
                [pageSize]="pageSize" 
                hidePageSize="true" 
                (page)="pageEvent = onSubmit($event)"
               >
            </mat-paginator>

        </div>

    </div>
</div>