<div class="container" style="width: 95%;padding-top: 20px; ">

    <br>

    <form [formGroup]="pesquisarForm" (ngSubmit)="Pesquisar()" class="form-inline siteForm"
        style="margin-top: 5px;display: inline-block">
        <span style="font-size: 0.9em;font-style: italic;">Digite ao menos um dos campos para
            pesquisar pelo aluno:</span>
        <div class="form-row align-items-center divSiteForm">

            <mat-form-field appearance="standard">
                <mat-label>Nome</mat-label>
                <input selected formControlName="nome" matInput placeholder="digite um nome">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 10px;">
                <mat-label>E-mail</mat-label>
                <input selected formControlName="email" matInput placeholder="digite um nome">
            </mat-form-field>

            <mat-form-field class="siteForm-select" style="margin-left: 10px;">
                <mat-label>CPF</mat-label>
                <input selected mask="000.000.000-00" formControlName="cpf" matInput placeholder="digite um nome">
            </mat-form-field>

            <span>
                <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button type="submit" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>
            <!-- <br>
            <span style="font-size: 0.9em;font-style: italic;">
                incluir inativos:
            </span>
            <mat-checkbox formControlName="ativo" color="primary"></mat-checkbox>
            <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
                todas unidades:
            </span>
            <mat-checkbox formControlName="todasUnidades" color="primary"></mat-checkbox> -->

        </div>

    </form>

    <div class="card-header card-msg-response" unselectable="on" *ngIf="showMessageNoAluno">{{mensagem}}</div>

    <mat-progress-bar style="margin-top: 20px;" [style.visibility]="spinnerSearch" @rowHighlight style="margin:0px"
        mode="query">
    </mat-progress-bar>


    <div *ngIf="listAlunos.length > 0" @rowHighlight class="card card-plain mat-elevation-z8" style="width: 100%;
        margin-top: 10px;
        box-shadow: 0 0 1em rgb(172, 170, 170);
        background-color: rgb(227, 240, 227);">
        <div class="card-header">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Alunos</h4>
            <p class="card-category">{{length}} alunos localizados.</p>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="height: 380px;position: relative;">
                <table @rowHighlight color="primary" style="margin-bottom: 0px;" class="table">

                    <thead>
                        <tr>
                            <th style="width: 2%; 
                text-align:left; 
                vertical-align: middle;
                border-top: 0px;"></th>

                            <th style="width: 26%;font-size:1em;
                                vertical-align: middle;
                                text-align:left;
                border-top: 0px; font-weight: 400;">NOME</th>

                            <th style="width: 10%;font-size:1em;
                            vertical-align: middle;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">SITUAÇÃO</th>

                            <th style="width: 15%;font-size:1em;
                        vertical-align: middle;
                        text-align:center;
                        border-top: 0px; font-weight: 400;">CPF</th>



                            <th style="width: 11%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">UNIDADE</th>

                            <th style="width: 5%;font-size:1em;
                        vertical-align: middle;
                        text-align:center;
                        border-top: 0px; font-weight: 400;">ATIVO</th>

                            <th style="width: 31%;font-size:1em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;"></th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of listAlunos;let i = index;">
                            <td style="text-align:center;vertical-align: middle;">{{i+1}}</td>

                            <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                            <td style="text-align:center;vertical-align: middle;">{{item.numeroMatricula ||
                                'não matriculado'}}</td>


                            <td style="text-align: center;vertical-align: middle;">{{item.cpf | cpf}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.sigla}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.ativo ? 'sim' : 'não'}}</td>

                            <td style="text-align: center;vertical-align: middle;">


                                <!-- <ng-container *ngIf="item.status == null;else semMat">

                                  <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                        matTooltip="informações financeiras" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <button (click)="openInfoFinancModal(item)" 
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon>request_quote</mat-icon>
                                        </button>

                                    </i>

                                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="informações"
                                        matTooltipPosition="above" matTooltipHideDelay="100">
                                        <button (click)="openInfoModal(item)"
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon>info</mat-icon>
                                        </button>
                                    </i>

                                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                        matTooltip="matricular aluno em um curso" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <button (click)="matricular(item)"
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon>read_more</mat-icon>
                                        </button>
                                    </i>

                                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                        matTooltip="boletim escolar" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <button (click)="openBoletimodal(item)"
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon>school</mat-icon>
                                        </button>
                                    </i> 

                                </ng-container>-->

                                <!-- <ng-template #semMat>

                                    <ng-container *ngIf="item.status == null;else aguardando">

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="informações cadastrais" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="OpenInfoModal(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>info</mat-icon>
                                            </button>

                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="liberar matrícula para estágio" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="matricular(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>read_more</mat-icon>
                                            </button>
                                        </i>

                                    </ng-container>

                                    <ng-template #aguardando>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="informações cadastrais" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="OpenInfoModal(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>info</mat-icon>
                                            </button>

                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="liberar matrícula para estágio" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="matricular(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>read_more</mat-icon>
                                            </button>
                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="analisar documentação" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>warning</mat-icon>
                                            </button>
                                        </i>


                                    </ng-template>

                                </ng-template>-->

                                <container-element [ngSwitch]="item.status">

                                    <ng-container *ngSwitchCase="null">

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="informações cadastrais" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="OpenInfoModal(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>info</mat-icon>
                                            </button>

                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="liberar matrícula para estágio" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="matricular(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>read_more</mat-icon>
                                            </button>
                                        </i>

                                    </ng-container>

                                    <ng-container *ngSwitchCase="'Aguardando envio/análise documental'">

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="informações cadastrais" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="OpenInfoModal(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>info</mat-icon>
                                            </button>

                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="liberar matrícula para estágio" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="matricular(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>read_more</mat-icon>
                                            </button>
                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="documentação/pendência" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="Documentacao(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon style="color:rgb(138, 23, 23)">warning</mat-icon>
                                            </button>
                                        </i>
                                    </ng-container>
                                    <!-- <ng-container *ngSwitchCase="match_expression_3">...</ng-container>
                                  <ng-container *ngSwitchCase="match_expression_3">
                                       use a ng-container to group multiple root nodes 
                                      <inner-element></inner-element>
                                      <inner-other-element></inner-other-element>
                                    </ng-container>-->
                                    <ng-container *ngSwitchCase="'Aguardando escolha do aluno'">

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="informações cadastrais" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="OpenInfoModal(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>info</mat-icon>
                                            </button>

                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="liberar matrícula para estágio" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="matricular(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon>read_more</mat-icon>
                                            </button>
                                        </i>

                                        <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                            matTooltip="documentação/pendência" matTooltipPosition="above"
                                            matTooltipHideDelay="100">
                                            <button (click)="Documentacao(item)"
                                                style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                                mat-icon-button>
                                                <mat-icon style="color:rgb(138, 23, 23)">warning</mat-icon>
                                            </button>
                                        </i>

                                    </ng-container>
                                </container-element>

                            </td>
                        </tr>



                    </tbody>

                </table>




            </div>
            <mat-paginator *ngIf="length > 5" style=" 
            background-color: rgb(227, 240, 227);
            bottom: 0px;
            right: 0px;" [length]="length" [pageSize]="pageSize" hidePageSize="true"
                (page)="pageEvent = Pesquisar($event)">
            </mat-paginator>

        </div>
    </div>
</div>