<div style="font-size: 1.2em;">Certificado de Conclusão
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query"></mat-progress-bar>

<div *ngIf="showContent" @rowHighlight>

   <span style="font-size:0.9em;margin-top: 10px;font-style: italic;" >O aluno ainda não cumpre os requisitos para emissão do certificado</span>

</div>