::ng-deep .mat-form-field {   
    font-size: 0.9em;
}

.card-msg-response {
    background-color: rgb(227, 240, 227);
    width: 350px;
    font-size: 0.9em;
    box-shadow: 0 0 0.5em rgb(172, 170, 170);
  }
