<div style="font-size: 1.2em;">Disponibilidade
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>


<hr>
<div @rowHighlight>

    <!-- <span>Unidade:</span> -->
    <form #form="ngForm" (ngSubmit)="saveEdit(form)">


        <mat-form-field appearance="standard" style="width: 250px;">
            <mat-label>Unidade</mat-label>
            <input disabled [value]="dispo.descricao" matInput>
        </mat-form-field>

        <br>

        <div style="font-size: 0.9;font-style: italic;">Disponibilidade:</div>
        <mat-checkbox [(ngModel)]="dispo.domingo" name="domingo" class="example-margin">Domingo</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.segunda" name="segunda" class="example-margin">Segunda-feira</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.terca" name="terca" class="example-margin">Terça-feira</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.quarta" name="quarta" class="example-margin">Quarta-feira</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.quinta" name="quinta" class="example-margin">Quinta-feira</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.sexta" name="sexta" class="example-margin">Sexta-feira</mat-checkbox><br>
        <mat-checkbox [(ngModel)]="dispo.sabado" name="sabado" class="example-margin">Sábado</mat-checkbox><br>
        <br>
        <mat-progress-bar *ngIf="disabledSaveButton" @rowHighlight style="margin:0px" mode="query"></mat-progress-bar>
        <div style="float: right;margin-top: 15px;">

            <button type="submit" mat-raised-button color="primary" [disabled]="disabledButton" style="width: 100px; position: relative; float:right;margin-bottom: 10px;
                margin-left: 10px;">
                Salvar
            </button>


        </div>
    </form>

</div>