<div class="container" style="width: 95%; padding-top: 20px;">

    <!-- <div *ngIf="mostrarEmLote">
        <i #tooltip="matTooltip" matTooltip="atualizar boletos" matTooltipPosition="above" matTooltipHideDelay="100">
            <button (click)="atualizarBoletos()" [disabled]="podeDesable" mat-icon-button>
                <mat-icon>swap_vert</mat-icon>
            </button>
        </i>
    </div> -->

    <br>


    <form [formGroup]="pesquisarForm" (ngSubmit)="Pesquisar()" class="form-inline siteForm"
        style="margin-top: 5px;display: inline-block">

        <span>Digite ao menos um dos campos para
            pesquisar pelo aluno:
        </span>

        <div class="form-row align-items-center">

            <mat-form-field appearance="standard">
                <mat-label>Nome</mat-label>
                <input formControlName="nome" matInput placeholder="digite o nome">
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput placeholder="digite o E-mail">
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>CPF</mat-label>
                <input formControlName="cpf" mask="000.000.000-00" matInput placeholder="digite o CPF">
            </mat-form-field>

            <span>
                <i #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above" matTooltipHideDelay="100">
                    <button type="submit" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </i>
            </span>

        </div>

    </form>


    <div class="card-header card-msg-response" unselectable="on" *ngIf="showMessageNoAluno">{{mensagem}}</div>

    <mat-progress-bar style="margin-top: 20px;" [style.visibility]="spinnerSearch" @rowHighlight style="margin:0px"
        mode="query">
    </mat-progress-bar>


    <div @rowHighlight *ngIf="listAlunos.length > 0" class="card card-plain mat-elevation-z8" style="width: 100%;
            position: relative;
            margin-top: 50px;
            box-shadow: 0 0 1em rgb(172, 170, 170);
            background-color: rgb(227, 240, 227);
           ">

        <div class="card-header" style="background-color: rgb(207, 231, 207);">
            <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
                Alunos</h4>
            <p class="card-category">{{length}} alunos localizados. </p>
        </div>

        <div class="card-body">
            <div class="table-responsive table-colaborador">

                <table color="primary" class="table">
                    <thead>
                        <tr>
                            <th></th>

                            <th>NOME</th>

                            <th>MATRÍCULA</th>

                            <th>EMAIL</th>

                            <th>CPF</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listAlunos;let i = index;" @rowHighlight>

                            <td style="text-align:center;vertical-align: middle;">
                                <!-- {{(i + 1)+(pageIndexNumber)}} -->
                            </td>

                            <td style="text-align:left;vertical-align: middle;">{{item.nome}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.numeroMatricula}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.email}}</td>

                            <td style="text-align: center;vertical-align: middle;">{{item.cpf }}</td>

                            <td style="text-align: center;vertical-align: middle;">
                                <i style="margin-right: 50px;">

                                    <mat-icon (click)="openReparcelamentoModal(item)" disabled
                                     type="button" style="margin: 0px; margin: 0px;">
                                     gavel</mat-icon>


                                </i>

                                <i>

                                    <mat-icon (click)="OpenInfoFinanc(item)" type="button"
                                        style="margin: 0px; margin: 0px;">
                                        attach_money</mat-icon>


                                </i>


                                <!-- <ng-template #inativo>

                                    <mat-icon style="background-color: rgb(227, 240, 227);
                                            margin: 0px; margin: 0px;color: red; ">attach_money</mat-icon>


                                </ng-template> -->

                            </td>

                            <!-- <td style="position: relative;">

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="Visualizar/Editar" matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="showSpinner" (click)="openEditUserModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i>

                            </td>
                            <td style="position: relative;">

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="showSpinner" (click)="deleteColaborador(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i>

                            </td> -->
                        </tr>

                    </tbody>
                </table>

            </div>

            <mat-paginator *ngIf="length > 5" style="
                background-color: rgb(227, 240, 227);
                bottom: 0px;
                right: 0px;" [length]="length" [pageSize]="pageSize" hidePageSize="true"
                (page)="pageEvent = Pesquisar($event)">
            </mat-paginator>

        </div>

        <!-- <mat-spinner @rowHighlight *ngIf="showSpinner" [diameter]="100" style="margin-left: 46.5%;
            top: 46.5%;
            position: absolute;">
        </mat-spinner>  -->
    </div>
</div>
