<div style="font-size: 1.2em;">Editar aula
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<mat-progress-bar [style.visibility]="initProgressBar" style="margin-top: 20px;" @rowHighlight mode="query">
</mat-progress-bar>

<div *ngIf="showContent">
    <hr>
    <form [formGroup]="aulaForm" (ngSubmit)="SaveEdit(aulaForm)">

        <mat-form-field appearance="standard" style="width: 70%;">
            <mat-label>Turma</mat-label>
            <input selected matInput [disabled]="true" value="{{aula.descricao}} - {{aula.identificador}}"
                oninput="this.value = this.value.toLowerCase()" placeholder="Email">
        </mat-form-field>

        <!-- <mat-form-field appearance="standard" style="width: 20%;margin-left: 10px;">
        <mat-label>Sala</mat-label>
        <input selected matInput disabled value="{{aula.titulo}}"
            oninput="this.value = this.value.toLowerCase()" placeholder="Email">
    </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 20%;margin-left: 10px;">
            <mat-label>Sala</mat-label>
            <mat-select formControlName="salaId" name="salaId" selected>
                <mat-option></mat-option>
                <mat-option *ngFor="let sala of salas" [value]="sala.id">{{sala.titulo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <!-- <mat-form-field appearance="standard" style="width: 70%;">
        <mat-label>Professor</mat-label>
        <input selected matInput [value]="aula.nome" disabled oninput="this.value = this.value.toLowerCase()"
            placeholder="Email">
    </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 50%;">
            <mat-label>Professor</mat-label>
            <mat-select formControlName="professorId" name="profId" selected>
                <mat-option value="00000000-0000-0000-0000-000000000000"></mat-option>
                <mat-option *ngFor="let prof of professores" [value]="prof.id">{{prof.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
        <br>

        <!-- <mat-form-field appearance="standard" style="width: 70%;">
        <mat-label>Matéria</mat-label>
        <input selected value="Ética" disabled [value]="aula.materiaDescricao" matInput
            oninput="this.value = this.value.toLowerCase()" placeholder="Email">
    </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 70%;">
            <mat-label>Matéria</mat-label>
            <mat-select formControlName="materiaId" name="matId" selected>
                <mat-option (click)="ChangeMateria()" value="00000000-0000-0000-0000-000000000000"></mat-option>
                <mat-option (click)="ChangeMateria()" *ngFor="let mat of materias" [value]="mat.materiaId">{{mat.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <br>

        <mat-form-field appearance="standard" style="width: 140px;">
            <mat-label>Dia da aula</mat-label>
            <input matInput formControlName="diaAula" [matDatepicker]="dp3" [disabled]="true">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="standard" style="width: 70px;margin-left: 10px;">
            <mat-label>Início</mat-label>
            <input selected disabled
                value="09:00" matInput
                oninput="this.value = this.value.toLowerCase()" placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 80px;margin-left: 10px;">
            <mat-label>Fim</mat-label>
            <input selected disabled
                value="12:00" matInput
                oninput="this.value = this.value.toLowerCase()" placeholder="Email">
        </mat-form-field> -->

        <!-- <mat-form-field style="width: 80px; margin-left: 10px;" appearance="standard">
            <mat-label>Início</mat-label>
            <mytime-input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
              formControlName="horaInicial" required></mytime-input>
            <mat-hint></mat-hint>
        </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 80px;margin-left: 10px;">
            <mat-label>Início</mat-label>
            <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" 
            mask="00:00" minlength="4" maxlength="5"
            formControlName="horaInicial" matInput>
        </mat-form-field>

        <!-- <mat-form-field style="width: 80px; margin-left: 10px;" appearance="standard">
            <mat-label>Fim</mat-label>
            <mytime-input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
              formControlName="horaFinal" required></mytime-input>
            <mat-hint></mat-hint>
        </mat-form-field> -->

        <mat-form-field appearance="standard" style="width: 80px; margin-left: 10px;">
            <mat-label>Fim</mat-label>
            <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" 
            mask="00:00" minlength="4" maxlength="5"
            formControlName="horaFinal" matInput>
        </mat-form-field>

        <br>

        <!-- <mat-form-field appearance="standard" style="width: 200px;">
            <mat-label>Dia/Horário Aula</mat-label>
            <input selected disabled
                value="{{aula.diaAula | date: 'dd/MM/yyyy'}} {{aula.horaInicial}} às {{aula.horaFinal}}" matInput
                oninput="this.value = this.value.toLowerCase()" placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 200px;">
            <mat-label>Início</mat-label>
            <input selected disabled value="09:00" matInput oninput="this.value = this.value.toLowerCase()"
                placeholder="Email">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 200px;">
            <mat-label>Fim</mat-label>
            <input selected disabled value="21:00" matInput oninput="this.value = this.value.toLowerCase()"
                placeholder="Email">
        </mat-form-field>

        <br> -->

        <ng-container *ngIf="aula.aulaIniciada;else naoIniciada">
            <mat-form-field appearance="standard" style="width: 200px;">
                <mat-label>Aula iniciada em</mat-label>
                <input [disabled]="true" selected value="{{aula.dateAulaIniciada | date:'dd/MM/yyyy HH:MM'}}" matInput
                    oninput="this.value = this.value.toLowerCase()" placeholder="Email">
            </mat-form-field>
        </ng-container>
        <ng-template #naoIniciada>
            <mat-form-field appearance="standard" style="width: 200px;">
                <mat-label>Aula iniciada em</mat-label>
                <input [disabled]="true" selected value="Aula não iniciada" matInput
                    oninput="this.value = this.value.toLowerCase()" placeholder="Email">
            </mat-form-field>
        </ng-template>

        <ng-container *ngIf="aula.aulaconcluida;else naoConcluida">
            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Aula concluída em</mat-label>
                <input [disabled]="true" selected matInput value="{{aula.dateAulaConcluida | date:'dd/MM/yyyy HH:MM'}}"
                    oninput="this.value = this.value.toLowerCase()" placeholder="Email">
            </mat-form-field>
        </ng-container>
        <ng-template #naoConcluida>
            <mat-form-field appearance="standard" style="width: 200px; margin-left: 10px;">
                <mat-label>Aula concluída em</mat-label>
                <input [disabled]="true" selected value="Aula não concluída" matInput
                    oninput="this.value = this.value.toLowerCase()" placeholder="Email">
            </mat-form-field>
        </ng-template>

        <!-- <div style="position: relative;">
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Nota da aula</mat-label>
            <textarea disabled placeholder="" [value]="aula.observacoes" matInput></textarea>
        </mat-form-field>
    </div> -->

        <mat-progress-bar [style.visibility]="saveSpinner" @rowHighlight style="margin-top:10px" mode="query">
        </mat-progress-bar>

        <button [disabled]="disabledSaveButton" style="float: right;margin-top: 10px;" mat-raised-button type="submit"
            color="primary">
            Salvar
        </button>

    </form>
</div>