::ng-deep .mat-form-field {
    font-size: 0.9em;
}

::ng-deep .relatmatricula-class {
    height: 650px !important;
    width: 1200px;
}

::ng-deep .relatsemmatricula-class {
    height: 280px !important;
    width: 1200px;
}
