.file-input {
  display: none;
}

::ng-deep .mat-form-field {
  font-size: 0.9em;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: #66bb6a !important;
//   // opacity: 1!important;
// }


::ng-deep .infoscomponent-class {
  height: 800px !important;
  width: 1000px;
}


::ng-deep .mat-tab-group.infoscomponent {
  height: 500px !important;
}

//@media (max-width: 1366px) {

  //@media (min-width: 1367px) {