<div style="font-size: 1.2em;">Informações
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<mat-progress-bar [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar>


<div @rowHighlight style="position: relative;" *ngIf="showtablePrinciple;">

    <hr>

    <mat-form-field appearance="standard" style="width: 35%; ">
        <mat-label>Aluno</mat-label>
        <input [value]="data['aluno'].nome" [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 12%; margin-left: 2%; ">
        <mat-label>Nº matrícula</mat-label>
        <input [value]="data['aluno'].numeroMatricula" [disabled]="true" matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="standard" style="width: 10%;">
        <mat-label>Turma</mat-label>
        <input [value]="turma.identificador" [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field appearance="standard" style="width: 35%;margin-left: 2%;">
        <mat-label>Curso</mat-label>
        <input [value]="turma.descricao" [disabled]="true" matInput>
    </mat-form-field>

    <br>

    <mat-tab-group class="infoscomponent">

        <!--                  CADASTRO            -->


        <mat-tab label="Aluno">

            <div @rowHighlight class="myForm" style=" position: relative;height: 550px;">

                <form @rowHighlight novalidate [formGroup]="alunoForm" (ngSubmit)="saveAluno(alunoForm)">

                    <div
                        style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;margin-top: 5px;">

                        <div style="position: absolute;  display:flex;padding: 0px; margin-left: 83%; display: inline-block;
                overflow: hidden;margin-top: 5px; width: 100px; height: 133px; border: 1px solid black; ">

                            <img src="" style="display: block;
                margin-left: auto;
                margin-right: auto;width:50%">

                        </div>


                        <br>
                        <mat-form-field appearance="standard" style="width: 35%; ">
                            <mat-label>Nome Social</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="nomeSocial" matInput
                                placeholder="Nome">
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 14%; margin-left: 2%;">
                            <mat-label>CPF</mat-label>
                            <input [value]="alunoForm.get('cpf')?.value  | cpf" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 12%; margin-left: 2%;">
                            <mat-label>RG</mat-label>
                            <input [value]="alunoForm.get('rg')?.value" [disabled]="true" matInput>
                        </mat-form-field>


                        <br>
                        <mat-form-field appearance="standard" style="width: 20%; ">
                            <mat-label>Naturalidade</mat-label>
                            <input [value]="alunoForm.get('naturalidade')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                            <mat-label>UF</mat-label>
                            <input [value]="alunoForm.get('naturalidadeUF')?.value" [disabled]="true"
                                onkeypress="return String.fromCharCode(event.charCode).match(/[^A-Za-z]/g) === null"
                                minlength="2" maxlength="2" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                            <mat-label>Email</mat-label>
                            <input [value]="alunoForm.get('email')?.value" [disabled]="true"
                                oninput="this.value = this.value.toLowerCase()" matInput placeholder="Email">
                        </mat-form-field>


                    </div>
                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <mat-form-field appearance="standard" style="width: 120px;">
                            <mat-label>Celular</mat-label>
                            <input formControlName="celular"
                                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                                matInput mask="(00) 00000-0000" placeholder="Email">
                        </mat-form-field>

                        <mat-form-field appearance="standard" class="what" style="width: 120px;margin-left: 10px;">
                            <mat-label>WhatsApp</mat-label>
                            <input formControlName="telWhatsapp" mask="(00) 00000-0000" matInput
                                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 120px;margin-left: 10px;">
                            <mat-label>Residencial</mat-label>
                            <input formControlName="telResidencial" mask="(00) 00000-0000" matInput
                                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                        </mat-form-field>

                    </div>


                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <mat-form-field appearance="standard" style="width: 35%;">
                            <mat-label>Nome do contato</mat-label>
                            <input formControlName="nomeContato" oninput="this.value = this.value.toUpperCase()"
                                matInput placeholder="Nome">
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%; ">
                            <mat-label>Tel referência</mat-label>
                            <input formControlName="telefoneContato" mask="(00) 00000-0000" matInput
                                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>
                    </div>


                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <ng-container [formGroup]="endereco">

                            <mat-form-field appearance="standard" style="width: 10%;">
                                <mat-label>CEP</mat-label>
                                <input formControlName="cep" mask="00.000-000"
                                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null"
                                    matInput placeholder="12345678">
                            </mat-form-field>

                            <i style="margin-left: 2%;vertical-align: middle;" #tooltip="matTooltip"
                                matTooltip="pesquisar CEP" matTooltipPosition="above" matTooltipHideDelay="100">
                                <span type="button" (click)="consultaCEP(endereco.get('cep')?.value,endereco)"
                                    style="vertical-align: middle;" mat-icon-button>
                                    <mat-icon>search</mat-icon>
                                </span>
                            </i>


                            <mat-form-field appearance="standard" style="width: 30%;margin-left: 2%;">
                                <mat-label>Logradouro</mat-label>
                                <input formControlName="logradouro" oninput="this.value = this.value.toUpperCase()"
                                    matInput placeholder="ex: rua tal...">
                            </mat-form-field>

                            <mat-form-field appearance="standard" style="width: 10%;margin-left: 2%;">
                                <mat-label>Número</mat-label>
                                <input formControlName="numero" oninput="this.value = this.value.toUpperCase()" matInput
                                    placeholder="ex: rua tal...">
                            </mat-form-field>

                            <mat-form-field appearance="standard" style="width: 25%; margin-left: 2%;">
                                <mat-label>Complemento</mat-label>
                                <input formControlName="complemento" oninput="this.value = this.value.toUpperCase()"
                                    matInput placeholder="ex: nº 123... sala 10... apto 123...">
                            </mat-form-field>

                            <br>

                            <mat-form-field appearance="standard" style="width: 30%;">
                                <mat-label>Cidade</mat-label>
                                <input [disabled]="true" [value]="endereco.get('cidade')?.value" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="standard" style="width: 10%; margin-left: 2%;">
                                <mat-label>UF</mat-label>
                                <input [disabled]="true" [value]="endereco.get('uf')?.value" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="standard" style="width: 30%; margin-left: 2%;">
                                <mat-label>Bairro</mat-label>
                                <input formControlName="bairro" oninput="this.value = this.value.toUpperCase()" matInput
                                    placeholder="digite o bairro">
                            </mat-form-field>
                        </ng-container>
                    </div>

                    <mat-progress-bar [style.visibility]="saveAlunoProgressBar" mode="query"></mat-progress-bar>

                    <div style="float:right">
                        <button type="submit" [disabled]="saveAlunoButton" mat-raised-button color="primary">
                            Salvar
                        </button>
                    </div>

                </form>

            </div>
        </mat-tab>



        <!--                  RESP FINANCEIRO          -->



        <mat-tab *ngIf="this.respFin != null" label="Responsável financeiro">

            <div @rowHighlight class="myForm" style=" position: relative;height: 550px;">

                <form @rowHighlight novalidate [formGroup]="respFinancForm" (ngSubmit)="saveRespFin(respFinancForm)">

                    <div
                        style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;margin-top: 5px;">


                        <br>
                        <mat-form-field appearance="standard" style="width: 35%; ">
                            <mat-label>Nome completo</mat-label>
                            <input [value]="respFinancForm.get('nome')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                            <mat-label>CPF</mat-label>
                            <input [disabled]="true" [value]="respFinancForm.get('cpf')?.value  | cpf" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                            <mat-label>RG</mat-label>
                            <input [value]="respFinancForm.get('rg')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <br>

                        <mat-form-field appearance="standard" style="width: 20%;">
                            <mat-label>Naturalidade</mat-label>
                            <input [value]="respFinancForm.get('naturalidade')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                            <mat-label>UF</mat-label>
                            <input [disabled]="true" [value]="respFinancForm.get('naturalidadeUF')?.value" matInput>
                        </mat-form-field>


                        <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                            <mat-label>Email</mat-label>
                            <input [value]="respFinancForm.get('email')?.value" [disabled]="true"
                                oninput="this.value = this.value.toLowerCase()" matInput>
                        </mat-form-field>

                    </div>

                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <mat-form-field appearance="standard" style="width: 17%;">
                            <mat-label>Celular</mat-label>
                            <input formControlName="telCelular" mask="(00) 00000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                            <mat-label>WhatsApp</mat-label>
                            <input formControlName="telWhatsapp" mask="(00) 00000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                            <mat-label>Residencial</mat-label>
                            <input formControlName="telResidencial" mask="(00) 0000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                    </div>

                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">


                        <mat-form-field appearance="standard" style="width: 10%;">
                            <mat-label>CEP</mat-label>
                            <input formControlName="cep" mask="00.000-000" matInput placeholder="apenas números">
                        </mat-form-field>

                        <i style="margin-left: 2%;vertical-align: middle;" #tooltip="matTooltip"
                            matTooltip="pesquisar CEP" matTooltipPosition="above" matTooltipHideDelay="100">
                            <span type="button" (click)="consultaCEP(respFinancForm.get('cep')?.value,respFinancForm)"
                                style="vertical-align: middle;" mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </span>
                        </i>

                        <mat-form-field appearance="standard" style="width: 30%;margin-left: 2%;">
                            <mat-label>Logradouro</mat-label>
                            <input [value]="respFinancForm.get('logradouro')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 18%; margin-left: 2%;">
                            <mat-label>Número</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="numero" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 25%; margin-left: 2%;">
                            <mat-label>Complemento</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="complemento"
                                matInput>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="standard" style="width: 30%;">
                            <mat-label>Cidade</mat-label>
                            <input [disabled]="true" [value]="respFinancForm.get('cidade')?.value" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 18%; margin-left: 2%;">
                            <mat-label>UF</mat-label>
                            <input [disabled]="true" [value]="respFinancForm.get('uf')?.value" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 30%; margin-left: 2%;">
                            <mat-label>Bairro</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="bairro" matInput
                                placeholder="digite o bairro">
                        </mat-form-field>

                    </div>

                    <mat-progress-bar [style.visibility]="saveRespFinProgressBar" mode="query"></mat-progress-bar>
                    <div style="float: right;">
                        <button type="submit" mat-raised-button color="primary" [disabled]="saveRespFinButton">
                            Salvar
                        </button>
                    </div>

                </form>

            </div>

        </mat-tab>


        <!--                  RESP MENOR          -->


        <mat-tab *ngIf="respMenor != null" label="Responsável do menor">

            <div @rowHighlight class="myForm" style=" position: relative;height: 550px;">

                <form @rowHighlight novalidate [formGroup]="respMenorForm" (ngSubmit)="saveRespMenor(respMenorForm)">

                    <div
                        style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;margin-top: 5px;">

                        <br>

                        <mat-form-field appearance="standard" style="width: 35%; ">
                            <mat-label>Nome completo</mat-label>
                            <input [value]="respMenorForm.get('nome')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                            <mat-label>CPF</mat-label>
                            <input [disabled]="true" [value]="respMenorForm.get('cpf')?.value | cpf" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 15%; margin-left: 2%;">
                            <mat-label>RG</mat-label>
                            <input [value]="respMenorForm.get('rg')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <br>

                        <mat-form-field appearance="standard" style="width: 20%; ">
                            <mat-label>Naturalidade</mat-label>
                            <input [value]="respMenorForm.get('naturalidade')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 4%; margin-left: 2%;">
                            <mat-label>UF</mat-label>
                            <input [value]="respMenorForm.get('naturalidadeUF')?.value" [disabled]="true" matInput>
                        </mat-form-field>


                        <mat-form-field appearance="standard" style="width: 25%;margin-left: 2%;">
                            <mat-label>Email</mat-label>
                            <input [value]="respMenorForm.get('email')?.value" [disabled]="true"
                                oninput="this.value = this.value.toLowerCase()" matInput placeholder="Email">
                        </mat-form-field>

                    </div>

                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <mat-form-field appearance="standard" style="width: 17%;">
                            <mat-label>Celular</mat-label>
                            <input formControlName="telCelular" mask="(00) 00000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                            <mat-label>WhatsApp</mat-label>
                            <input formControlName="telWhatsapp" mask="(00) 00000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 17%;margin-left: 5%;">
                            <mat-label>Residencial</mat-label>
                            <input formControlName="telResidencial" mask="(00) 0000-0000" matInput>
                            <mat-hint>telefone com DDD</mat-hint>
                        </mat-form-field>

                    </div>

                    <div style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;">

                        <mat-form-field appearance="standard" style="width: 10%;">
                            <mat-label>CEP</mat-label>
                            <input formControlName="cep" mask="00.000-000" matInput placeholder="apenas números">
                        </mat-form-field>

                        <i style="margin-left: 2%;vertical-align: middle;" #tooltip="matTooltip"
                            matTooltip="pesquisar CEP" matTooltipPosition="above" matTooltipHideDelay="100">
                            <span type="button" (click)="consultaCEP(respMenorForm.get('cep')?.value,respMenorForm)"
                                style="vertical-align: middle;" mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </span>
                        </i>

                        <mat-form-field appearance="standard" style="width: 30%;margin-left: 2%;">
                            <mat-label>Logradouro</mat-label>
                            <input [value]="respMenorForm.get('logradouro')?.value" [disabled]="true" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 18%; margin-left: 2%;">
                            <mat-label>Número</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="numero" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 25%; margin-left: 2%;">
                            <mat-label>Complemento</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="complemento"
                                matInput>
                        </mat-form-field>

                        <br>

                        <mat-form-field appearance="standard" style="width: 30%;">
                            <mat-label>Cidade</mat-label>
                            <input [disabled]="true" [value]="respMenorForm.get('cidade')?.value" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 10%; margin-left: 2%;">
                            <mat-label>UF</mat-label>
                            <input [disabled]="true" [value]="respMenorForm.get('uf')?.value" matInput>
                        </mat-form-field>

                        <mat-form-field appearance="standard" style="width: 30%; margin-left: 2%;">
                            <mat-label>Bairro</mat-label>
                            <input oninput="this.value = this.value.toUpperCase()" formControlName="bairro" matInput
                                placeholder="digite o bairro">
                        </mat-form-field>

                    </div>

                    <mat-progress-bar [style.visibility]="saveRespMenorProgressBar" mode="query"></mat-progress-bar>
                    <div style="float: right;">
                        <button type="submit" mat-raised-button color="primary" [disabled]="saveRespMenorButton">
                            Salvar
                        </button>
                    </div>
                </form>

            </div>
        </mat-tab>

        <!--                             TAB DOCUMENTACAO             -->

        <ng-container>

            <mat-tab label="Documentação">
                <br>

                <i style="" #tooltip="matTooltip" matTooltip="modelo ficha de matrícula" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button [disabled]="true" mat-icon-button>
                        <mat-icon>assignment_ind</mat-icon>
                    </button>
                </i>

                <i style="" #tooltip="matTooltip" matTooltip="lista pendência de documentos" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button style="" (click)="getListaPendenciaDocs()" [disabled]="downloadTabProgressBar == 'visible'"
                        mat-icon-button>
                        <mat-icon>assignment_turned_in</mat-icon>
                    </button>
                </i>


                <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="certificado de conclusão"
                    matTooltipPosition="above" matTooltipHideDelay="100">
                    <button (click)="GetCertificado()" style="" mat-icon-button>
                        <mat-icon>school</mat-icon>
                    </button>
                </i>

                <mat-progress-bar style="" [style.visibility]="downloadTabProgressBar" @rowHighlight mode="query">
                </mat-progress-bar>


                <hr>

                <ng-container style="margin-top: 10px;" *ngIf="documentoAluno.length > 0">

                    <div *ngFor="let doc of documentoAluno">

                        <div style="display: inline; font-size: 0.9em;">

                            <ng-container *ngIf="doc.docEnviado == true">
                                <mat-icon (click)="baixar(doc)" type="button" #tooltip="matTooltip"
                                    matTooltip="download" matTooltipPosition="above" matTooltipHideDelay="100" style="vertical-align: middle; 
                    margin: 0px; margin-bottom: 5px;">save_alt</mat-icon>
                            </ng-container>

                            {{doc.nome}} ({{doc.comentario}})

                        </div>

                        <div style="display: inline; position: relative; font-size: 0.9em;margin-left: 5px;"
                            *ngIf="doc.docEnviado == true">

                            <ng-container *ngIf="doc.descricao != 'contrato' && doc.descricao != 'ficha de matrícula'">
                                <button (click)="remover(doc)" type="button" style="margin: 0px; margin: 0px;"
                                    mat-icon-button [disabled]="doc.salvando">
                                    <mat-icon #tooltip="matTooltip" matTooltip="excluir arquivo"
                                        matTooltipPosition="above" matTooltipHideDelay="100" style="vertical-align: middle; 
                    margin: 0px; margin-bottom: 0px;">delete_forever

                                    </mat-icon>
                                </button>
                            </ng-container>
                            <div *ngIf="doc.salvando" style="display: inline;left: 30%;top:5%; position: absolute;">
                                <mat-spinner [diameter]="18"></mat-spinner>
                            </div>
                        </div>

                        <ng-container *ngIf="doc.docEnviado == true;else docNaoEnviado">

                        </ng-container>

                        <ng-template #docNaoEnviado>

                            <div style="font-size: 0.9em;display: inline;">
                                * documentação ainda não enviada
                                <input type="file" class="file-input" (change)="exportar($event, doc)" #fileUpload>

                                <div class="file-upload" style="display: inline;position: relative;">



                                    <button mat-icon-button class="upload-btn" #tooltip="matTooltip"
                                        [disabled]="doc.salvando" matTooltip="anexar arquivo" matTooltipPosition="above"
                                        matTooltipHideDelay="100" (click)="fileUpload.click()">
                                        <mat-icon>link</mat-icon>
                                    </button>

                                    <div *ngIf="doc.salvando"
                                        style="display: inline;left: 30%;top:5%; position: absolute;">
                                        <mat-spinner [diameter]="18"></mat-spinner>
                                    </div>
                                </div>
                            </div>

                        </ng-template>

                        <br>

                    </div>
                </ng-container>

            </mat-tab>
        </ng-container>

        <mat-tab label="Anotações">


            <div style="font-size: 1.0em;">
                <i style="float: left;" #tooltip="matTooltip" matTooltip="adicionar anotação" matTooltipPosition="above"
                    matTooltipHideDelay="100">
                    <button type="button" (click)="openAddComentarioModal()" style="" mat-icon-button>
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </i>
            </div>


            <br>

            <mat-progress-bar [style.visibility]="ShowAnotSpinner" mode="query"></mat-progress-bar>

            <br>

            <ng-container *ngIf="anotacoes.length > 0">
                <div *ngFor="let info of anotacoes"
                    style="border: 1px solid rgb(201, 198, 209); padding: 10px;margin-bottom: 10px;margin-top: 5px;">
                    <div style="font-size: 0.8em; font-style: italic;">Autor: {{ info.titulo }}</div>
                    <div style="font-size: 0.8em; font-style: italic;">Data: {{ info.dataRegistro | date: 'dd/MM/yyy' }}
                    </div>
                    <div style="font-size: 0.8em; font-style: italic;">* {{ info.comentario }}</div>

                </div>
            </ng-container>
        </mat-tab>

    </mat-tab-group>

</div>