<div class="container" style="width: 95%;">
    <br>
    <!-- <button type="submit" (click)="openCreateCursoModal()" mat-raised-button disabled="false"
        style="margin-top: 10px;
        background-color: rgb(109, 218, 109);">
        criar turma
    </button> -->

    <span>
        <i style="margin-left: 0px;" #tooltip="matTooltip" matTooltip="criar turma" matTooltipPosition="above"
            matTooltipHideDelay="100" (click)="openCreateCursoModal()">
            <!-- <button style=""  mat-icon-button> -->
            <mat-icon type="button" style="font-size: 2em;">post_add</mat-icon>
            <!-- </button> -->
        </i>
    </span>
    <br>

    <mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
    </mat-progress-bar>

    <div @rowHighlight *ngIf="showMessage" class="card-header " style="background-color: rgb(227, 240, 227);
    margin-top: 20px;
    margin-left: 10px;
    width: 350px; 
    font-size: 0.9em;box-shadow: 0 0 0.5em rgb(172, 170, 170);" unselectable="on" o>
        {{mensagem}}
    </div>


    <div *ngIf="showTurmas" @rowHighlight class="card card-plain mat-elevation-z8" style="width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 1em rgb(172, 170, 170);
    background-color: rgb(227, 240, 227);">
        <div class="card-header">
            <h4 class="card-title" style="text-align:left;margin-top: 10px; 
            vertical-align: middle;font-size:1.2em; font-weight: 400;">
                Turmas</h4>
            unidade {{tokenInfo.Unidade}}
            <!-- <p class="card-category"> </p> -->
        </div>
        <div class="card-body">
            <div class="table-responsive" style="height: auto;position: relative;">
                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
                    <thead>
                        <tr>
                            <th style="width: 2%; 
                            text-align:left; 
                            vertical-align: middle;
                            border-top: 0px;"></th>


                            <th style="width: 26%;font-size:1em;
                            vertical-align: middle; 
                            text-align:left;
                             border-top: 0px; font-weight: 400;">Turma/Descrição</th>

                            <th style="width: 12%;font-size:1em;
                            vertical-align: middle;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">Início</th>

                            <th style="width: 8%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">Vagas</th>

                            <th style="width: 12%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">Matriculados</th>

                            <th style="width: 13%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">Status</th>

                            <th style="width: 27%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">

                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of turmas; let i = index;">
                            <td style="font-size:0.9em;text-align:center;vertical-align: middle;">{{i+1}}</td>

                            <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                                {{item.descricao}}<br>{{item.identificador}}</td>

                            <td @rowHighlight style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                <ng-container *ngIf="item.statusAndamento == 'Em andamento'; else naoIniciada">
                                    {{item.previsaoAtual | date:"dd/MM/yy"}}<br>
                                    <span @rowHighlight style="font-size: 0.8em;color: red;">
                                        em andamento
                                    </span>
                                </ng-container>
                                <ng-template #naoIniciada>
                                    {{item.previsaoAtual | date:"dd/MM/yy"}}<br>
                                    <span @rowHighlight style="font-size: 0.8em;color: red;">
                                        {{item.previsaoInfo}}
                                    </span>
                                </ng-template>

                            </td>

                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">{{item.vagas}}</td>

                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">{{item.totalAlunos}}

                            </td>
                            <td @rowHighlight style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                {{item.statusAndamento}}</td>
                            <td style="text-align: center;vertical-align: middle;">

                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="calendário"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="openCalendarioModal()"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>description</mat-icon>
                                    </button>
                                </i> -->

                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="adiar a tumra para a próxima previsão" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <button [disabled]="item.statusAtual == 'Aguardando início' || 
                                    item.previsao == '3ª previsão'
                                    ? true : false"
                                        (click)="adiar(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon style="font-size: 1.5em;" class="material-icons-outlined">watch_later
                                        </mat-icon>
                                    </button>
                                </i> -->
                                <span *ngIf="item.statusAndamento != 'Cancelada'">
                                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                        matTooltip="adiar a tumra para a próxima previsão" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <button [disabled]="PodeAdiar(item)" (click)="adiar(item.id)"
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon style="font-size: 1.5em;" class="material-icons-outlined">
                                                watch_later
                                            </mat-icon>
                                        </button>
                                    </i>
                                </span>
                                <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="iniciar as aulas"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="item.statusAndamento != 'Aguardando início' ? true : false"
                                        (click)="iniciarTurma(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon style="font-size: 1.5em;font-weight: 200;"
                                            class="material-icons-outlined">play_arrow</mat-icon>
                                    </button>
                                </i> -->
                                <span *ngIf="item.statusAndamento != 'Cancelada'">
                                    <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                        matTooltip="iniciar as aulas" matTooltipPosition="above"
                                        matTooltipHideDelay="100">
                                        <button (click)="iniciarTurma(item.id)"
                                            [disabled]="item.statusAndamento == 'Em andamento'"
                                            style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                            mat-icon-button>
                                            <mat-icon style="font-size: 1.5em;font-weight: 200;"
                                                class="material-icons-outlined">play_arrow</mat-icon>
                                        </button>
                                    </i>
                                </span>
                                <!-- update_disabled -->

                                <i *ngIf="item.statusAndamento != 'Cancelada'" style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="detalhes/editar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="openEditCursoModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i>

                                <i *ngIf="item.statusAndamento != 'Cancelada'" 
                                style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="cancelar turma"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="Cancelar(item.id)" [disabled]="item.statusAndamento == 'Cancelada'"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </i>

                                <!-- <i *ngIf="podeDeletar" style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="deletar turma e os matriculados"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="deleteCurso(item)"  
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </i> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- 
    <mat-spinner *ngIf="showSpinner" @rowHighlight [diameter]="100" style="
            left: 43.5%;
            top: 40%; 
            position: absolute;">
    </mat-spinner> -->


</div>