<div style="font-size: 1.2em;">Cadastrar Lead
    <close-modal [disable]="disabledCloseModalIcon"></close-modal>
</div>


<div @rowHighlight>

    <hr>



    <form novalidate [formGroup]="formulario" style="" (ngSubmit)="onSubmit()">


        <mat-form-field appearance="standard" style="width: 55%;">
            <mat-label>Candidato</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" formControlName="nome" matInput>
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 40%; margin-left: 5%;">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput oninput="this.value = this.value.toLowerCase()">
        </mat-form-field>

        <br>

        <mat-form-field style="width: 20%;" appearance="standard">
            <mat-label>Celular</mat-label>
            <input formControlName="telefone" mask="(00) 00000-0000" matInput
                onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 25%;margin-left: 5%;">
            <mat-label>Bairro</mat-label>
                <input formControlName="bairro" matInput oninput="this.value = this.value.toUpperCase()"
                matInput>
        </mat-form-field>

        <br>
        <mat-form-field appearance="standard" style="width: 35%;">
            <mat-label>Curso Pretendido</mat-label>
            <input selected formControlName="cursoPretendido" oninput="this.value = this.value.toUpperCase()" name="templateName"
                matInput placeholder="digite o bairro">
        </mat-form-field>


        <mat-progress-bar [style.visibility]="disabledSaveButton" @rowHighlight mode="query">
        </mat-progress-bar>

        <span style="float: right;margin-top: 15px;">

            <button type="submit" mat-raised-button color="primary" [disabled]="disabledButton"
                style="float:right;margin-left: 10px;">
                Salvar
            </button>
        </span>

    </form>


</div>
