<div style="font-size: 1.2em;">Criar documento
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<!-- <mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar> -->

<hr>

<div style="position: relative;">

    <form novalidate [formGroup]="docForm" (ngSubmit)="onSubmit(docForm)">


        <mat-form-field appearance="standard" style="width: 30%; ">
            <mat-label>Nome</mat-label>
            <input oninput="this.value = this.value.toUpperCase()"
             formControlName="nome" matInput placeholder="Ex: RG">
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
            <mat-label>Descrição</mat-label>
            <input oninput="this.value = this.value.toUpperCase()" 
            formControlName="descricao" matInput>
        </mat-form-field>

        <mat-form-field appearance="standard" style="width: 30%; margin-left: 5%;">
            <mat-label>Validade (dias)</mat-label>
            <input onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null" selected
                formControlName="validadeDias" matInput placeholder="">
        </mat-form-field>

        <mat-progress-bar [style.visibility]="disabledSaveButton" @rowHighlight mode="query">
        </mat-progress-bar>

        <span style="float: right;margin-top: 15px;">
            <button type="submit" mat-raised-button color="primary" 
                style="float:right;margin-left: 10px;" [disabled]="disabledSave">
               Salvar
            </button>
        </span>

         <!-- <mat-progress-bar [style.visibility]="disabledSaveButton" @rowHighlight mode="query">
        </mat-progress-bar>

        <span [style.visibility]="showMensagem"  
        style="width: 480px; text-align: left; vertical-align: middle;
        float:left;margin-top: 15px;
            padding: 0px;">
            <div *ngFor="let erro of msgErros; " style="font-size: 0.8em;color: red;">
                * {{ erro }}
            </div>
        </span>

        <span style="float: right;margin-top: 15px;">

            <button type="submit" mat-raised-button color="primary" [disabled]="disabledButton" 
            style="float:right;margin-left: 10px;">
                Salvar
            </button>
        </span> -->



    </form>
</div>