<div class="container">

    <div>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="cadastrar estágio" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button style="" (click)="cadastroEstagio()" mat-icon-button>
                <mat-icon>domain</mat-icon>
            </button>
        </i>

        <i style="margin-left: 10px;" #tooltip="matTooltip" matTooltip="cadastrar tipos" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button style="" (click)="EstagioTipo()" mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
        </i>
    </div>

    <br>

    <div  @rowHighlight  class="card-header card-msg-response" unselectable="on"
        *ngIf="showMessageNoEstagior">{{mensagem}}</div>

    <mat-progress-bar style="margin-top: 20px;" [style.visibility]="spinnerSearch"  @rowHighlight style="margin:0px" mode="query">
    </mat-progress-bar>


    <div *ngIf="estagios.length > 0" @rowHighlight class="card card-plain mat-elevation-z8" style="width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 1em rgb(172, 170, 170);
    background-color: rgb(227, 240, 227);">

        <div class="card-header">
            <h4 class="card-title" style="text-align:left;margin-top: 10px; 
            vertical-align: middle;font-size:1.2em; font-weight: 400;">
                Estágios</h4>
                Unidade {{tokenInfo.Unidade}}
            <!-- <p class="card-category"> </p> -->
        </div>

        <div class="card-body">
            <div class="table-responsive" style="height: auto;position: relative;">

                <table color="primary" style="margin-bottom: 0px;" class="table">
                    <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
                    <thead>
                        <tr>
                            <th style="width: 2%; 
                            text-align:left; 
                            vertical-align: middle;
                            border-top: 0px;"></th>


                            <th style="width: 26%;font-size:1em;
                            vertical-align: middle; 
                            text-align:left;
                             border-top: 0px; font-weight: 400;">ESTÁGIO</th>

                            <th style="width: 12%;font-size:1em;
                            vertical-align: middle;
                            text-align:center;
                            border-top: 0px; font-weight: 400;">INÍCIO</th>

                            <th style="width: 8%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">VAGAS</th>

                            <th style="width: 12%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">INSCRITOS</th>

                            <th style="width: 13%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;"></th>

                            <th style="width: 27%;font-size:1em;
                            text-align:center; 
                            vertical-align: middle;
                            border-top: 0px; font-weight: 400;">

                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of estagios; let i = index;">
                            <td style="font-size:0.9em;text-align:center;vertical-align: middle;">{{i+1}}</td>

                            <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                                {{item.nome}}</td>

                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                {{item.dataInicio | date:"dd/MM/yyyy"}}<br>
                                <!-- <span @rowHighlight style="font-size: 0.8em;color: red;">
                                    {{item.previsao}}
                                </span> -->
                            </td>

                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">{{item.vagas}}</td>
                                
                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                               
                            </td>
                            <td style="font-size:0.9em;text-align: center;vertical-align: middle;"></td>
                            <td style="text-align: center;vertical-align: middle;">

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="editar estágio"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="editarEstagio(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>build</mat-icon>
                                    </button>
                                </i>


                                 <i style="margin: 0px; margin: 100px;" #tooltip="matTooltip" matTooltip="inscritos"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="verificarMatriculados(item)" [disabled]="true"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>description</mat-icon>
                                    </button>
                                </i>

                          
                                

                               
<!--
                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip"
                                    matTooltip="adiar a tumra para a próxima previsão" matTooltipPosition="above"
                                    matTooltipHideDelay="100">
                                    <button [disabled]="PodeAdiar(item)"
                                        (click)="adiar(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon style="font-size: 1.5em;" class="material-icons-outlined">watch_later
                                        </mat-icon>
                                    </button>
                                </i>

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="iniciar as aulas"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button [disabled]="item.statusDaTurma != 'Aguardando início' ? true : false"
                                        (click)="iniciarTurma(item.id)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon style="font-size: 1.5em;font-weight: 200;"
                                            class="material-icons-outlined">play_arrow</mat-icon>
                                    </button>
                                </i>

                                <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="detalhes/editar"
                                    matTooltipPosition="above" matTooltipHideDelay="100">
                                    <button (click)="openEditCursoModal(item)"
                                        style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                                        mat-icon-button>
                                        <mat-icon>settings</mat-icon>
                                    </button>
                                </i> -->
                            </td>                            
                        </tr>                        
                    </tbody>
                </table>
            </div>            

        </div>
    </div>

   
</div>