::ng-deep .mat-form-field {
    font-size: 0.9em;
  }
  
  ::ng-deep .myalunomat-class {
    height: 79vh !important;
    width: 850px;
  }
  
  ::ng-deep .mat-tab-group.alunomatricula {
    height: 520px !important;
  }
  
  ::ng-deep .datearray {
    margin-bottom: -1.75em !important;
    margin-top: -0.50em !important;
   // height: 30px !important;
  }
  