<div style="font-size: 1.2em;">Lançar notas
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>

</div>

<mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar>

<ng-container *ngIf="messageNoMateria">
    <hr>


    <span style="font-size: 0.9;font-style: italic;">Aguarde! Espere a conclusão das aulas de cada matérias para poder lançar as  notas.</span>
</ng-container>

<ng-container *ngIf="showMateriaEscolha">
    <hr>


    <mat-form-field appearance="standard" style="width: 55%;">
        <mat-label>Turma</mat-label>
        <input matInput disabled value="{{data.turma.descricao}} - {{data.turma.identificador}}">
    </mat-form-field>

    <!-- <div>{{data.turma.descricao}} - {{ data.turma.identificador }}
</div> -->

    <div>

        <mat-form-field style="width: 40%;">
            <mat-label>Matéria</mat-label>
            <mat-select selected>
                <mat-option></mat-option>
                <mat-option (click)="buscarNotas(mat)" *ngFor="let mat of materias" [value]="mat.id">
                    {{mat.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</ng-container>

<ng-container *ngIf="showNotas">


    <!-- <div *ngIf="showTable" class="table-responsive" style="height: 430px;position: relative;"> -->
    <div class="table-responsive" style="height: 430px;position: relative;">
        <table color="primary" style="margin-bottom: 0px;" class="table">

            <thead>
                <tr>
                    <th style="width: 2%; 
                    text-align:left; 
                    vertical-align: middle;
                    border-top: 0px;"></th>


                    <th style="width: 33%;font-size:1em;
                    vertical-align: middle; 
                    text-align:left;
                     border-top: 0px; font-weight: 400;">ALUNO</th>



                    <th style="width: 15%;font-size:1em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">1ª Av.<br>
                        <span *ngIf="showTable" style="font-size: 0.8em;">{{ agendaProvas.avaliacaoUm }}</span>
                    </th>

                    <th style="width: 15%;font-size:1em;
                    text-align:center;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">2ª Av.<br>
                        <span *ngIf="showTable" style="font-size: 0.8em;">{{agendaProvas.avaliacaoDois }}</span>
                    </th>

                    <th style="width: 15%;font-size:1em;
                    text-align:center;
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">3ª Av.<br>
                        <span *ngIf="showTable" style="font-size: 0.8em;">{{agendaProvas.avaliacaoTres }}</span>
                    </th>

                    <th style="width: 20%;font-size:1em;
                    text-align:center; 
                    vertical-align: middle;
                    border-top: 0px; font-weight: 400;">Status</th>


                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let aluno of notasDisciplinas;let i = index;">
                    <td style="font-size:0.9em;text-align:center;vertical-align: middle;">{{i+1}}</td>

                    <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                        {{aluno.nome}}
                    </td>



                    <td style="text-align: center;vertical-align: middle;">

                        <div style="">
                            <input type="text" style="margin-right: auto;
                            margin-left: auto;font-size:0.9em;width: 60px;" class="form-control"
                                [(ngModel)]="aluno.avaliacaoUm" [value]="aluno.avaliacaoUm || ''" aria-label="Small"
                                name="avaliacaoUm" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </td>

                    <td style="text-align: center;vertical-align: middle;">

                        <div style="text-align: center;vertical-align: middle;">
                            <input type="text" style="margin-right: auto;
                            margin-left: auto;font-size:0.9em;width: 60px;" class="form-control"
                                [(ngModel)]="aluno.avaliacaoDois" [value]="aluno.avaliacaoDois || ''"
                                name="avaliacaoDois" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </td>

                    <td style="text-align: center;vertical-align: middle;">

                        <div style="text-align: center;vertical-align: middle;">
                            <input type="text" style="margin-right: auto;
                            margin-left: auto;font-size:0.9em;width: 60px;" class="form-control"
                                [(ngModel)]="aluno.avaliacaoTres" [value]="aluno.avaliacaoTres || ''"
                                name="avaliacaoTres" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </td>

                    <td style="text-align: center;vertical-align: middle;">
                        {{aluno.resultado}}

                    </td>

                </tr>



            </tbody>
        </table>
    </div>
    <mat-progress-bar style="margin-top: 10px;" [style.visibility]="saveProgressBar" 
    @rowHighlight mode="query">
    </mat-progress-bar>
    <div *ngIf="showTable" style="margin-top: 10px;">
        <button type="button" color="primary" 
        [disabled]="disableSaveButton"
        (click)="salvar()" mat-raised-button
            style="float:right;margin-bottom: 5px;margin-left: 10px;">
            Salvar
        </button>
    </div>

</ng-container>