.table-calend {
  margin-bottom: 0px;
  padding-bottom: 0px;
  // border: 1px solid red;
  td {
      /// border: 1px solid red;
      font-size: 0.8em;
  }

  th {
      font-size: 0.9em;
      // border: 1px solid red;
  }
}

::ng-deep .pedagcalendar-class {
  height: 850px;
  width: 1230px;
  mat-dialog-container {
      padding-top: 0px !important;
      margin-top: 0px !important;
  }

}
