<div style="font-size: 1.2em;">Parcelas
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked: false}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>
<hr>

<div class="table-responsive" *ngIf="showTable" style="position: relative;">
    <table color="primary" style="margin-bottom: 0px;" class="table">
        <!--<table class="table-hover" mat-table [dataSource]="genericTasks">-->
        <thead style="z-index: 9;
        top: 0;
        position: sticky;
        background-color: aliceblue;">
            <tr>
                <!-- <th style="width: 2%; 
            text-align:left; 
            vertical-align: middle;
            border-top: 0px;"></th> -->


                <th style="width: 50%;font-size:0.8em;
            vertical-align: middle; 
            text-align:left;
             border-top: 0px; font-weight: 400;">Histórico</th>

                <th style="width: 25%;font-size:0.8em;
            vertical-align: middle;
            text-align:center;
            border-top: 0px; font-weight: 400;">Vencimento</th>

                <th style="width: 25%;font-size:0.8em;
            text-align:center; 
            vertical-align: middle;
            border-top: 0px; font-weight: 400;">Valor</th>

                <!-- <th style="width: 12%;font-size:0.8em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Val. Título</th>

                <th style="width: 13%;font-size:0.8em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Data Pagto.</th>

                <th style="width: 12%;font-size:0.8em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;">Val. Pago</th>

                <th style="width: 21%;font-size:0.8em;
                text-align:center; 
                vertical-align: middle;
                border-top: 0px; font-weight: 400;"></th> -->
                <!--<th style="width: 12%;font-size:1em;
            text-align:center; 
            vertical-align: middle;
            border-top: 0px; font-weight: 400;">Matriculados</th>

            <th style="width: 13%;font-size:1em;
            text-align:center; 
            vertical-align: middle;
            border-top: 0px; font-weight: 400;">Status</th> -->

                <!-- <th style="width: 34%;font-size:1em;
            text-align:center; 
            vertical-align: middle;
            border-top: 0px; font-weight: 400;">

            </th> -->
            </tr>
        </thead>
        <tbody>

            <tr *ngIf="data['parcelas'] != 0">
                <td style="font-size:0.8em;font-weight: 400;text-align:left;vertical-align: middle;">
                    Entrada Parcelamento
                </td>

                <td style="font-size:0.8em;font-weight: 400;text-align:center;vertical-align: middle;">
                    {{ data['vencimento']| date:'M/y' }}
                </td>

                <td style="font-size:0.8em;font-weight: 400;text-align: center;vertical-align: middle;">
                    {{ reparcelaCommand.valorEntrada | currency:'BRL':true:'1.2-2' }}
                </td>

                <!-- <td style="font-size:0.8em;font-weight: 400;text-align: center;vertical-align: middle;">
                
                </td> -->


            </tr>

            <tr *ngFor="let reparcelas of reparcelaCommand.parcelas;let i = index;">
                <td style="font-size:0.8em;font-weight: 400;text-align:left;vertical-align: middle;">
                  Reparcelamento {{i+1}}/{{data['parcelas']}}
                </td>

                <td style="font-size:0.8em;font-weight: 400;text-align:center;vertical-align: middle;">
                {{ reparcelas.vencimento | date:'M/y'}}
                </td>

                <td style="font-size:0.8em;font-weight: 400;text-align: center;vertical-align: middle;">
                    {{ reparcelas.valor | currency:'BRL':true:'1.2-2' }}
                </td>

                <!-- <td style="font-size:0.8em;font-weight: 400;text-align: center;vertical-align: middle;">
                
                </td> -->


            </tr>
        </tbody>
    </table>
    <br>
    <mat-progress-bar style="margin-bottom: 5px;" [style.visibility]="saveProgressBar"
    @rowHighlight mode="query">
    </mat-progress-bar>

    <button type="submit" mat-raised-button color="primary"
    [disabled]="disabledSaveButton" style="float:right;margin-bottom: 0px;margin-left: 10px;"
    (click)="confirmarParc()">
    Confirmar
</button>
<br>

</div>
