::ng-deep .mat-form-field {
    
   font-size: 0.9em;
  }


  ::ng-deep .presenca-diario-class {
    height: 700px;
    width: 1030px;
    // mat-dialog-container {
    //     padding-top: 0px !important;
    //     margin-top: 0px !important;
    // }
    //border: 1px solid red;
}