<div class="container" style="width: 95%;" s>
    <div style="margin-top: 20px;margin-left: 10px;font-size: 0.9em;font-style: italic;">
        Transferências
    </div>
    <hr>

    <!-- <button (click)="openTransfInternalModal()" style="color:white; background-color: green;margin-right: 10px;"
        mat-raised-button>Interna</button>
    <button (click)="openTransfExternaModal()" mat-raised-button
        style="color:white; background-color: green">Externa</button>
    <button (click)="openTransfTurmaModal()" mat-raised-button
        style="color:white; background-color: green">Turma</button>
    <br> -->




    <span style="margin-top: 20px;margin-left: 10px;font-size: 0.9em;font-style: italic;">
        Transferência interna
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openTransfInternalModal()"  mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
        </i>
    </span>
    <br>
    <!-- <span style="margin-top: 20px;margin-left: 10px;font-size: 0.9em;font-style: italic;">
        Transferência externa
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openTransfExternaModal()" mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
        </i>
    </span> -->
    <br>
    <span style="margin-top: 20px;margin-left: 10px;font-size: 0.9em;font-style: italic;">
        Transferência de turmas
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="openTransfTurmaModal()" mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
        </i>
    </span>



</div>