<div style="font-size: 1.2em;">Enviar email
  <close-modal [disable]="disabledCloseModalIcon"></close-modal>
</div>

<!-- <mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar> -->


<hr>
<div @rowHighlight>
  <span style="color:red;font-size: 0.9;">OBS: O E-mail será enviado caso o aluno possua um e-mail válido</span>
  <form novalidate [formGroup]="emailForm" style="" (ngSubmit)="onSubmit()">


    <mat-form-field appearance="standard" style="width: 70%;">
      <mat-label>Título do E-mail</mat-label>
      <input oninput="this.value = this.value.toUpperCase()" formControlName="titulo" matInput placeholder="Nome">
    </mat-form-field>

    <!-- <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Conteúdo</mat-label>
      <textarea formControlName="conteudo" matInput></textarea>
  </mat-form-field> -->

    <angular-editor style="height: 300px;" color="primary" [config]="config" [disabled]="true"
      [placeholder]="'Enter text here...'" formControlName="conteudo"></angular-editor>

    <mat-progress-bar [style.visibility]="disabledSaveButton" @rowHighlight mode="query">
    </mat-progress-bar>


    <span style="float: right;margin-top: 15px;">

      <button type="submit" mat-raised-button color="primary" [disabled]="disabledButton"
        style="float:right;margin-left: 10px;">
        Enviar
      </button>
    </span>

  </form>




</div>
