<div style="font-size: 1.2em;">Estágio/Tipo criação
    <close-modal></close-modal>
</div>

<div>

    <hr>

    <div style="position: relative; height: 200px;">

        <form [formGroup]="estagioTipoForm" (ngSubmit)="Save()">
            

            <mat-form-field appearance="standard" style="width: 55%;">
                <mat-label>Nome</mat-label>
                <input oninput="this.value = this.value.toUpperCase()" 
                formControlName="nome" matInput
                    placeholder="Nome">
                    <mat-hint *ngIf="showConflict" 
                    style="color: red">* nome já utilizado</mat-hint>
            </mat-form-field>

            <br>
            <br>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Descrição</mat-label>
                <textarea formControlName="observacao" matInput 
                maxlength="250"
                    placeholder="Descrição..."></textarea>
            </mat-form-field>

            <mat-progress-bar [style.visibility]="disabledSaveButton" 
            @rowHighlight style="margin:0px" mode="query">
            </mat-progress-bar>

            <span style="float: right; bottom: 0px;margin-top: 5px;">

                <button type="submit" mat-raised-button color="primary" 

                [disabled]="disabledButton">
                    Salvar
                </button>

            </span>

        </form>
    </div>

</div>