<div class="container">
    <div class="row" style="margin-bottom: 10px;">

        <div style="font-size: 1.2em;"></div>
        <div style="font-size: 1.1em;">
            Tem certeza que deseja iniciar a turma?
        </div>
    </div>
    

    <mat-progress-bar [style.visibility]="hidden" @rowHighlight mode="query"></mat-progress-bar>

    <div>
        <i style="margin-left: 5px;float: left;margin-left: 10px;" #tooltip="matTooltip" matTooltip="confirmar"
            matTooltipPosition="above" matTooltipHideDelay="100">
            <button (click)="confirmar()" [disabled]="disabledSaveButton" style="color: green;" mat-icon-button>
                <mat-icon>done</mat-icon>
            </button>
        </i>

        <i style="margin-left: 5px;float: left;margin-left: 10px;" #tooltip="matTooltip" matTooltip="cancelar"
            matTooltipPosition="above" matTooltipHideDelay="100">
            <button (click)="cancelar()" [disabled]="disabledSaveButton" style="color: red;" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </i>

    </div>
</div>