<div style="font-size: 1.2em;">Estágio/Tipos   
    <close-modal></close-modal>
</div>

<mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight
    mode="query"></mat-progress-bar>

<ng-container *ngIf="showForm">

    <hr>

    <!-- <mat-form-field appearance="standard" style="width: 350px;">
        <mat-label>Nome</mat-label>
        <input [value]="data['prof'].nome"  disabled selected matInput >
    </mat-form-field>

    <mat-form-field style="width: 350px; margin-left: 15px" appearance="standard">
        <mat-label>Email</mat-label>
        <input [value]="data['prof'].email" selected matInput disabled >
    </mat-form-field> -->

    <br>
   
    <div @rowHighlight>

        <mat-tab-group class="estagioTipos">

            <mat-tab label="Tipos" >
                    <div>
                  
                    <br>
                    <mat-progress-bar [style.visibility]="editAndSaveBar" @rowHighlight  style="margin:0px"  mode="query"></mat-progress-bar>
                    <div class="table-responsive" style="position: relative;height: 350px;">

                        <table color="primary" style="margin-bottom: 0px;" class="table">

                            <thead>
                                <tr>
                                    <th style="width: 2%; 
                        text-align:left; 
                        vertical-align: middle;
                        border-top: 0px;"></th>


                                    <th style="width: 29%;font-size:0.9em;
                        vertical-align: middle; 
                        text-align:left;
                         border-top: 0px; font-weight: 400;">NOME</th>

                                    <th style="width: 59%;font-size:0.9em;
                        vertical-align: middle;
                        text-align:center;
                        border-top: 0px; font-weight: 400;">DESCRIÇÃO</th>

                                    <th style="width: 10%;font-size:1em;
                        text-align:center; 
                        vertical-align: middle;
                        border-top: 0px; font-weight: 400;">
                                        <i style="float: right;" #tooltip="matTooltip" matTooltip="adicionar matéria"
                                            matTooltipPosition="above" matTooltipHideDelay="100">
                                            <button color="primary" (click)="OpenAddTipoModal()" style="" mat-icon-button>
                                                <mat-icon>add_circle_outline</mat-icon>
                                            </button>
                                        </i>
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  @rowHighlight *ngFor="let tipo of tiposSlice;let i = index;">
                                    
                                    <td style="font-size:0.9em;text-align:center;vertical-align: middle;">
                                        {{(i + 1)+(pageIndexNumber * pageSize)}}
                                    </td>

                                    <td style="font-size:0.9em;text-align:left;vertical-align: middle;">
                                        {{ tipo.nome }}
                                    </td>

                                    <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                        {{ tipo.observacao }}
                                    </td>

                                    <td style="font-size:0.9em;text-align: center;vertical-align: middle;">
                                     
                                        <i style="" #tooltip="matTooltip" matTooltip="excluir"
                                            matTooltipPosition="above" matTooltipHideDelay="100">
                                            <button color="primary" (click)="RemoverTipo(tipo.id)" type="button" 
                                            style="position: relative;" [disabled]="disableDeleteButton" mat-icon-button>
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </i>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <mat-paginator 
                    *ngIf="estagioTipos.length > 5"
                    style="                       
                        bottom: 0px;
                        right: 0px;" [length]="length" [pageSize]="pageSize" hidePageSize="true"
                        (page)="pageEvent = ChangePage($event)">
                    </mat-paginator>
                </div>
            </mat-tab>            
         
        </mat-tab-group>

    </div>

</ng-container>