::ng-deep .mat-form-field {
  font-size: 0.9em;
}

.siteForm {
  margin-top: 5px;
  display: inline-block;

  span:nth-child(1) {
    font-size: 0.9em;
    font-style: italic;
  }

  div {
    mat-form-field:nth-child(2) {
      margin-left: 10px;
    }

    mat-form-field:nth-child(3) {
      margin-left: 10px;
      width: 120px;
    }

    i {
      margin-left: 5px;
    }
  }

  span:nth-child(2) {
    margin-left: 10px;
    font-size: 0.9em;
    font-style: italic;
  }
}

.card-msg-response {
  background-color: rgb(227, 240, 227);
  width: 350px;
  font-size: 0.9em;
  box-shadow: 0 0 0.5em rgb(172, 170, 170);
}


.table-requerimento {
  height: 330px;
  position: relative;

  td {
    font-size: 0.9em;
  }

  tr {
    font-size: 0.9em;
  }

  table {
    margin-bottom: 0px;
  }

  table thead tr th:nth-child(1) {
    width: 2%;
    text-align: left;
    vertical-align: middle;
    border-top: 0px;
  }

  table thead tr th:nth-child(2) {
    width: 11%;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    border-top: 0px;
    font-weight: 400;
  }

  table thead tr th:nth-child(3) {
    width: 18%;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    border-top: 0px;
    font-weight: 400;
  }

  table thead tr th:nth-child(4) {
    width: 12%;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
    border-top: 0px;
    font-weight: 400;
  }

  table thead tr th:nth-child(5) {
    width: 9%;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    border-top: 0px;
    font-weight: 400;
  }

  table thead tr th:nth-child(6) {
    width: 25%;
    border-top: 0px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
  }

  table thead tr th:nth-child(7) {
    width: 23%;
    border-top: 0px;
    text-align: center;
    vertical-align: middle;
  }

  // table tbody tr td {
  //   // font-size: 0.9em;
  // }
}
