<div class="container" style="width: 95%; padding-top: 20px;">

  <div>
    <i #tooltip="matTooltip" matTooltip="Criar tipo/requerimento" matTooltipPosition="above" matTooltipHideDelay="100">
      <button (click)="openCreateRequerimento()" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </i>
  </div>

  <br>

  <form [formGroup]="pesquisarForm" (ngSubmit)="Pesquisar()" class="form-inline siteForm">

    <span>Digite ao menos um dos
      campos para
      pesquisar pelo requerimento:
    </span>

    <div class="form-row align-items-center">

      <mat-form-field appearance="standard">
        <mat-label>Matrícula</mat-label>
        <input formControlName="matricula" selected matInput placeholder="digite o nome">
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" selected required>
          <mat-option [value]="0">Todos</mat-option>
          <mat-option [value]="1">Deferidos</mat-option>
          <mat-option [value]="2">Indeferidos</mat-option>
        </mat-select>
      </mat-form-field>

      <span>
        <i #tooltip="matTooltip" matTooltip="pesquisar" matTooltipPosition="above" matTooltipHideDelay="100">
          <button type="submit" mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </i>
      </span>

      <!-- <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
        todas unidades:
      </span>
      <mat-checkbox formControlName="todasUnidades" color="primary"></mat-checkbox>

      <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
        encerrados:
      </span>
      <mat-checkbox formControlName="todasUnidades" color="primary"></mat-checkbox> -->

    </div>

  </form>


  <div class="card-header card-msg-response" *ngIf="showMessageNotFound">{{mensagemNotFound}}</div>

  <mat-progress-bar style="margin-top: 20px;" [style.visibility]="spinnerSearch" @rowHighlight style="margin:0px"
    mode="query">
  </mat-progress-bar>

  <div @rowHighlight *ngIf="requerimentos.length > 0" class="card card-plain mat-elevation-z8" style="width: 100%;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 1em rgb(172, 170, 170);
    background-color: rgb(227, 240, 227);">

    <div class="card-header" style="background-color: rgb(207, 231, 207);">
      <h4 class="card-title" style="font-size:1.5em; font-weight: 400;">
        Requerimentos</h4>
      <p class="card-category">{{length}} Requerimento(s) localizado(s) no sistema: </p>
    </div>

    <div class="card-body">
      <div class="table-responsive table-requerimento">

        <table color="primary" class="table">
          <thead>
            <tr>
              <th></th>

              <th>DATA<br>SOLICITAÇÃO</th>

              <th>REQUERIMENTO</th>

              <th>MATRÍCULA<br>SOLICITANTE</th>

              <th>STATUS</th>

              <th>RESPONSÁVEL</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr @rowHighlight>

              <td style="text-align:center;vertical-align: middle;">
                1
              </td>

              <td style="text-align: center;vertical-align: middle;">08/11/2022 08:00</td>

              <td style="text-align: center;vertical-align: middle;">
                <div>DECLARAÇÃO DE MATRÍCULA<br>CERTIDÃO/DECLARAÇÃO</div>
              </td>

              <td style="text-align: center;vertical-align: middle;">202200000244</td>

              <td style="text-align: center;vertical-align: middle;">EM ABERTO</td>

              <td style="text-align: center;vertical-align: middle;">ROSIMERE SERRA AREDE DA
                SILVA<br>rosimereserra@gmail.com</td>

              <td style="text-align: center;vertical-align: middle;">
                <i style="margin: 0px;" #tooltip="matTooltip" matTooltip="Visualizar/Editar" matTooltipPosition="above"
                  matTooltipHideDelay="100">
                  <button
                  (click)="OpenReqEdit()"
                  style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                  mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                </i>
              </td>


            </tr> -->




           <tr *ngFor="let item of requerimentos;let i = index;" @rowHighlight>

                    <td style="text-align:center;vertical-align: middle;">
                        {{(i + 1)+(pageIndexNumber)}}
                    </td>

                    <td style="text-align: center;vertical-align: middle;">
                    {{item.dataRequerimento | date:'dd/MM/yyyy'}}</td>

              <td style="text-align: center;vertical-align: middle;">

                <div>{{item.tipo}}<br>{{item.categoria}}</div>
              </td>

              <td style="text-align: center;vertical-align: middle;">{{item.numeroMatricula}}</td>

              <td style="text-align: center;vertical-align: middle;">

              <ng-container [ngSwitch]="item.statusAndamento">
                <div *ngSwitchCase="0">Em aberto</div>
                <div *ngSwitchCase="1">Deferido</div>
                <div *ngSwitchCase="2">Indeferido</div>
                <!-- <div *ngSwitchCase="'4'">Four</div>
                <div *ngSwitchCase="'5'">Five</div>
                <div *ngSwitchDefault>This is Default</div> -->


              </ng-container>
              </td>

              <td style="text-align: center;vertical-align: middle;">{{item.responsavel}}<br>
                {{item.emailResponsavel}}</td>

              <td style="text-align: center;vertical-align: middle;">
                <i style="margin: 0px;" #tooltip="matTooltip" matTooltip="Visualizar/Editar" matTooltipPosition="above"
                  matTooltipHideDelay="100">
                  <button [disabled]="true"
                  (click)="OpenReqEdit()"
                  style="background-color: rgb(227, 240, 227);margin: 0px; margin: 0px;"
                  mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                </i>
              </td>
                </tr>

          </tbody>
        </table>

      </div>

      <mat-paginator *ngIf="length > 5" style="
        background-color: rgb(227, 240, 227);
        bottom: 0px;
        right: 0px;" [length]="length" [pageSize]="pageSize" hidePageSize="true"
        (page)="pageEvent = Pesquisar($event)">
      </mat-paginator>

    </div>

  </div>


</div>
