<div class="container" style="width: 95%; padding-top: 20px;">


  <br>
  <span style="margin-top: 40px;">
      <!-- <i style="margin: 0px; margin: 0px;" #tooltip="matTooltip" matTooltip="documentação/pendência"
          matTooltipPosition="above" matTooltipHideDelay="100">
          <button style="margin: 0px; margin: 0px;" mat-icon-button>
              <mat-icon style="color:rgb(138, 23, 23)">warning</mat-icon>
          </button>
      </i> -->
      <a (click)="OpenconsultaFinanceira()" type="button">Clique aqui para consultar seu histórico financeiro</a>
  </span>

  <br>

  </div>

