<div style="font-size: 1.2em;">Estágio matrícula
    <close-modal></close-modal>
</div>

<mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar>

<div *ngIf="showForm">

    <hr>
    <span style="margin-left: 10px;font-size: 0.9em;font-style: italic;">
        Selecione o tipo do estágio que deseja liberar para o aluno:</span>

    <br>

    <form novalidate [formGroup]="matriculaForm" (ngSubmit)="LiberarMatricula()">
        <mat-form-field appearance="standard" style="width: 65%;margin-left: 10px;">
            <mat-label>Aluno</mat-label>
            <input matInput [disabled]="true" value="Fulano de tal">
        </mat-form-field>

        <br>

        <mat-form-field appearance="standard" style="width: 200px;margin-left: 10px;">
            <mat-label>Seleciona o estágio</mat-label>
            <mat-select formControlName="tipoEstagioId" selected>
                <mat-option></mat-option>
                <mat-option *ngFor="let tipo of estagioTipos" 
                [value]="tipo.id">{{tipo.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span>
            <i #tooltip="matTooltip" matTooltip="desbloquear estágio para o aluno" matTooltipPosition="above"
                matTooltipHideDelay="100">
                <button [disabled]="!matriculaForm.valid" type="submit" mat-icon-button>
                    <mat-icon>lock_open</mat-icon>
                </button>
            </i>
        </span>
    </form>

</div>