<div style="font-size: 1.2em;">Boletim Escolar
    <i style="margin-left: 5px;float: right;" #tooltip="matTooltip" matTooltip="fechar" matTooltipPosition="above"
        matTooltipHideDelay="100">
        <button [mat-dialog-close]="{clicked:'Cancel'}" style="" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </i>
</div>

<mat-progress-bar style="margin-top: 20px;" [style.visibility]="initProgressBar" @rowHighlight mode="query">
</mat-progress-bar>

<div *ngIf="showForm">

    <hr>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="aluno.nome" [disabled]="true" required name="nome" matInput >
    </mat-form-field>
    
    <br>

    <mat-form-field appearance="standard" style="width: 45%; ">
        <mat-label>Turma</mat-label>
        <input [(ngModel)]="turma.descricao" [disabled]="true" required matInput >
    </mat-form-field>

    <br>
    <table class="table table-bordered table-boletim">
        <thead>
            <tr>
                <th scope="col" rowspan="2" style="font-size: 0.9em; width: 40%;text-align:center;
                font-weight: 400; vertical-align: middle;">
                    DISCIPLINAS
                </th>
                <th scope="col" colspan="3" style="font-weight: 400;font-size: 0.9em;width: 35%;text-align:center;vertical-align: middle;">NOTAS</th>
                <th scope="col" rowspan="2" style="font-weight: 400;font-size: 0.9em;width: 10%;text-align:center;vertical-align: middle;">FALTAS</th>
                <th scope="col" rowspan="2" style="font-weight: 400;font-size: 0.9em;width: 15%;text-align:center;vertical-align: middle;">RESULTADO FINAL
                </th>
            </tr>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col" style="font-weight: 400;font-size: 0.9em;text-align:center;vertical-align: middle;">1ª AV.</th>
                <th scope="col" style="font-weight: 400;font-size: 0.9em;text-align:center;vertical-align: middle;">2ª AV.</th>
                <th scope="col" style="font-weight: 400;font-size: 0.9em;text-align:center;vertical-align: middle;">REC.</th>

                <!-- <th scope="col">Last</th>
        <th scope="col">Handle</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bol of notasBoletim; let i =index;">
                <td scope="row">{{bol.materiaDescricao}}</td>
                <td style="text-align:center;vertical-align: middle;">{{bol.avaliacaoUm || '-'}}</td>
                <td style="text-align:center;vertical-align: middle;">{{bol.avaliacaoDois || '-'}}</td>
                <td></td>
                <td style="text-align:center;vertical-align: middle;">{{bol.qntFaltas}}</td>
                <td style="text-align:center;vertical-align: middle;">{{bol.resultado}}</td>
            </tr>

        </tbody>
    </table>
</div>