<div class="container"style="width: 95%; padding-top: 20px;">

    <div>
        <i style="margin-left: 5px;" #tooltip="matTooltip" matTooltip="cadastrar lead individual" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="criarLead()" mat-icon-button>
                <mat-icon>post_add</mat-icon>
            </button>
        </i>

        <i style="margin-left: 20px;" #tooltip="matTooltip" matTooltip="exportar arquivo lead" matTooltipPosition="above"
            matTooltipHideDelay="100">
            <button (click)="exportar()" mat-icon-button>
                <mat-icon>file_upload</mat-icon>
            </button>
        </i>
    </div>

    <br>


    <!-- <div class="row">
        <button style="width: 140px;margin-top: 10px;" type="button" class="btn btn-success"
            >exportar lead</button>

    </div> -->




</div>